<div style="border-radius: 15px;
            background-color: #fff;
            max-width: 1200px;
            min-width: 550px;
            left: calc(50% - 400px);
            height: auto;
            box-sizing: border-box;">

    <div style="border-radius: 15px;
        width: 100%;
        height: 150px;
        background: #2A66BD;
        padding: 50px;
        box-sizing: border-box;">

        <img style="
        width: 314;
        height: 50px;
        background-size: cover;
        " src="http://{{ include('domen.html') }}/content/images/mail/logo.png" />

    </div>



    <div style="
            width: 100%;
            height: auto;
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            box-sizing: border-box;">

        <h1 style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        line-height: 200%;
        letter-spacing: 0.5px;
        font-size: 27px;
        color: #000000;
        font-weight: 700;">

            Подтверждение смены пароля

        </h1>

        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">
            {{ username }} Здравствуйте! Кто-то, возможно, Вы, запрашивал восстановление пароля для вашего аккаунта на проекте Cristalix.
        </p>

        </br>
        </br>

        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">

            Если вы этого не делали, просто проигнорируйте это письмо.</p>

        </br>
        </br>

        <h1 style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        line-height: 200%;
        letter-spacing: 0.5px;
        font-size: 27px;
        color: #000000;
        font-weight: 700;">
            Для смены пароля

        </h1>
        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">

            - нажмите ниже на кнопку ( Подтвердить )</p>

        </br>

        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">
            - или введите код {{ key }} на странице <a href="http://{{ include('domen.html') }}/recovery/confirm/">http://{{ include('domen.html') }}/recovery/confirm/</a></p>
        </br>
        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">

            перейдите по ссылке если кнопка не работает: <a href="http://{{ include('domen.html') }}/recovery/confirm/?key={{ key }}">http://{{ include('domen.html') }}/recovery/confirm/{{ key }}</a>

        </p>
        </br>
        <p style=" 
        margin: 0px;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000000;">

            Желаем вам приятной игры! Cristalix.ru
        </p>
    </div>

    <div style=" 
        width: 99.8%;
        height: 105px;
        bottom: 0px;
        padding: 24px 0px 24px 25px;
        box-sizing: border-box;">

        <a href="http://{{ include('domen.html') }}/recovery/confirm/?key={{ key }}" style="
        text-decoration: none;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.4px;
        color: #ffffff;
        font-size: 18px;
        bottom: 25px;
        left: 25px;
        background: #2A66BD;
        transition: 0.3s;
        padding: 15px 40px 15px 40px;
        cursor: pointer;
        border-radius: 9px;
        opacity: 1;
        float: left;">

        Подтвердить</a>

        <p style=" 
        padding: 15px 0px 15px 25px;
        float: left;
        font: small/ 1.5 Arial, Helvetica, sans-serif;
        margin: 0px;
        font-size: 16px;
        color: #000000;">
            Это письмо создал ИИ, оно не требует ответа.</p>
    </div>

</div>