{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Смена почты">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/confirm">
<meta name="twitter:card">{% endblock %} {% block content %}
<div class="single-row">
    <div class="block background-recovery-1">
        <div class="centered-text">
            <a class="textb">Подтверждение смены почты</a>
        </div>
        <div>
            <form>
                <input autofocus="" class="recovery-mail-ent inputy" name="key" id="key-input" placeholder="Код подтверждения" required="" type="text" value="{{ get.key|e('html_attr') }}" />

                <button onclick="" class="HOVER register-button" id="confirm-button"><span></span>
                    <text class="textb">Подтвердить</text>
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/content/js/changemail_confirm.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
{{ include('recaptcha.html') }} {% endblock %}