ЧТО-то
<!DOCTYPE html>
<!--
###########################################
###########################################
###########################################
###########################################
#############|#############//|#############
###########|///|#########|/////|###########
#########|///////|#####|/////////|#########
#######|///////////|###|///////////########
#####|///////////////|###|//////|##//|#####
###|///////////////////|###|//|##|/////|###
#|///////////////////////|######/////////|#
#|////////////////////////|####|//////////|
###|////////////////////|##//|###|//////|##
#####|////////////////|##//////|###///|####
#######|////////////|##//////////|#########
#########|////////|###||//////////|########
###########|////|#######||//////|##########
#############||###########/|//|############
############################|##############
###########################################
################CRISTALIX##################
###########################################
-->

<html id="sno" lang="ru">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <meta name="theme-color" content="#282828" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> {% if theme == "light" %}
    <meta name="theme-color" content="#f0f0f0" /> {% else %}
    <meta name="theme-color" content="#282828" /> {% endif %}

    <title>{{ block('title') }}Cristalix</title>
    <meta name="viewport" content="width=700, user-scalable=no, viewport-fit=cover">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/content/css/style.css?{{ random() }}" />
    <link rel="shortcut icon" href="/content/images/icons/128.png" type="image/png" /> {% if theme == "light" %}
    <link rel="stylesheet" type="text/css" href="/content/css/light.theme.css?{{ random() }}" /> {% else %}
    <link rel="stylesheet" type="text/css" href="/content/css/dark.theme.css?{{ random() }}" /> {% endif %}
    <!-- <link rel="stylesheet" type="text/css" href="/content/css/dark.theme.css?{{ random() }}" /> -->

    <link rel="stylesheet" type="text/css" href="/content/css/dark.css?{{ random() }}" />
    <script type="text/javascript" src="/content/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/content/js/themev2.js"></script>
    <script src="/content/js/language/ru.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script>
        function post(path, params, method = 'post') {
            const form = document.createElement('form');
            form.method = method;
            form.action = path;
            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];
                    form.appendChild(hiddenField);
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>
    {{ block('og') }}
</head>

<body>
    <div class="theme-change"></div>

    <div id="mobile-menu" class="mobile-none ux-m">
        <div class="head-m ux-m">
            <img onclick="window.location.href='/'" class="logo-m" src="/content/images/logo.svg" />
        </div>

        {% if theme == "light" %}

        <div class="menu-list">

            <div class="menu-link-element theme-mobile" onclick="iwanntchangetheme();">
                <img class="menu-img icon-theme" src="/content/images/icons/theme/moon.svg" />Вкл тёмную тему
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/'">
                <img class="menu-img" src="/content/images/nav/light/home.svg" />Главная
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/play/'">
                <img class="menu-img" src="/content/images/nav/light/play.svg" />Играть
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/servers/'">
                <img class="menu-img" src="/content/images/nav/light/servers.svg" />Сервера
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/donate/'">
                <img class="menu-img" src="/content/images/nav/light/donate.svg" />Донат
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            {% if user != null %}
            <div class="menu-link-element" onclick="post('https://cristalix.ru/frm_enter.php',{'user_login':'{{ user.username }}','user_mail':'{{ user.email }}','user_hash':'{{ user.forum_hash }}'})">
                <img class="menu-img" src="/content/images/nav/light/forum.svg" />Форум
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>
            {% else %}
            <div class="menu-link-element" onclick="window.location.href='/cabinet'">
                <img class="menu-img" src="/content/images/nav/light/forum.svg" />Форум
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>
            {% endif %}

            <div class="menu-link-element" onclick="window.location.href='/info/'">
                <img class="menu-img" src="/content/images/nav/light/help.svg" />Помощь
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/info/role'">
                <img class="menu-img" src="/content/images/nav/light/law.svg" />Правила
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/cabinet'">
                <img class="menu-img" src="/content/images/nav/light/login.svg" />{% if user != null %}{{ user.username }}{% else %}авторизация{% endif %}
                <img class="blink-nav" src="/content/images/nav/light/blink.svg" />
            </div>
        </div>

        {% else %}

        <div class="menu-list">

            <div class="menu-link-element theme-mobile" onclick="iwanntchangetheme();">
                <img class="menu-img icon-theme" src="/content/images/icons/theme/sun.svg" />Вкл светлую тему
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>


            <div class="menu-link-element" onclick="window.location.href='/'">
                <img class="menu-img" src="/content/images/nav/home.svg" />Главная
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/play/'">
                <img class="menu-img" src="/content/images/nav/play.svg" />Играть
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/servers/'">
                <img class="menu-img" src="/content/images/nav/servers.svg" />Сервера
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/donate/'">
                <img class="menu-img" src="/content/images/nav/donate.svg" />Донат
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            {% if user != null %}
            <div class="menu-link-element" onclick="post('https://cristalix.ru/frm_enter.php',{'user_login':'{{ user.username }}','user_mail':'{{ user.email }}','user_hash':'{{ user.forum_hash }}'})">
                <img class="menu-img" src="/content/images/nav/forum.svg" />Форум
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>
            {% else %}
            <div class="menu-link-element" onclick="window.location.href='/cabinet'">
                <img class="menu-img" src="/content/images/nav/forum.svg" />Форум
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>
            {% endif %}

            <div class="menu-link-element" onclick="window.location.href='/info/'">
                <img class="menu-img" src="/content/images/nav/help.svg" />Помощь
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/info/role'">
                <img class="menu-img" src="/content/images/nav/law.svg" />Правила
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>

            <div class="menu-link-element" onclick="window.location.href='/cabinet'">
                <img class="menu-img" src="/content/images/nav/login.svg" />{% if user != null %}{{ user.username }}{% else %}авторизация{% endif %}
                <img class="blink-nav" src="/content/images/nav/blink.svg" />
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Пк панель навигации -->
    <header class="ux-pc">
        <div class="menu-wrapper-block">
            <div class="menu-block">
                <a href="/" class="menu-logo-item">
                    <img class="menu-logo" src="/content/images/logo.svg" />
                </a>
                <div class="menu-item{% if path[1] == 'play' %} menu-item-active{% endif %}">
                    <a class="menu-item-link" href="/play">ИГРАТЬ</a>
                </div>
                <div class="menu-item{% if path[1] == 'servers' %} menu-item-active{% endif %}">
                    <a class="menu-item-link" href="/servers">СЕРВЕРА</a>
                </div>
                <div class="menu-item{% if path[1] == 'donate' %} menu-item-active{% endif %}">
                    <a class="menu-item-link" href="/donate">ДОНАТ</a>
                </div>
                {% if user != null %}
                <div class="menu-item">
                    <a class="menu-item-link" onclick="post('https://cristalix.ru/frm_enter.php',{'user_login':'{{ user.username }}','user_mail':'{{ user.email }}','user_hash':'{{ user.forum_hash }}'})">ФОРУМ</a>
                </div>
                {% else %}
                <div class="menu-item">
                    <a class="menu-item-link" href="/cabinet">ФОРУМ</a>
                </div>
                {% endif %}
                <div class="menu-item{% if path[1] == 'info' %} menu-item-active{% endif %}">
                    <a class="menu-item-link" href="/info/">ПОМОЩЬ</a>
                </div>
                <div class="menu-item{% if path[1] == 'cabinet' %} menu-item-active{% endif %}">
                    <a class="menu-item-link" href="/cabinet">{% if user != null %}{{ user.username }}{% else %}авторизация{%
                    endif %}</a>
                </div>
                <a onclick="iwanntchangetheme();" class="menu-theme-item">
                    <img class="bnt-theme" {% if theme=="light" %} src=" /content/images/icons/theme/moon.svg" {% else %} src=" /content/images/icons/theme/sun.svg" {% endif %} />
                </a>
            </div>
        </div>
    </header>
    <div class="head-m ux-m">
        <img onclick="window.location.href='/'" class="logo-m" src="/content/images/logo.svg" />
    </div>
    <!-- мобильна навигация -->
    {% if theme == "light" %}
    <nav class="mobile-nav ux-m">
        <div onclick="window.location.href='/'" class="btn-nav{% if path[1] == '' %} btn-nav-active{% endif %}">
            <img class="svg-nav" src="/content/images/nav/light/{% if path[1] == '' %}home-active{% else %}home{% endif %}.svg" />
            <a class="text-nav">Главная</a>
        </div>

        <div onclick="window.location.href='/servers/'" class="btn-nav{% if path[1] == 'servers' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/light/{% if path[1] == 'servers' %}servers-active{% else %}servers{% endif %}.svg" />
            <a class="text-nav">Сервера</a>
        </div>

        {% if user != null %}
        <div onclick="post('https://cristalix.ru/frm_enter.php',{'user_login':'{{ user.username }}','user_mail':'{{ user.email }}','user_hash':'{{ user.forum_hash }}'})" class="btn-nav{% if path[1] == 'forum' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/light/{% if path[1] == 'forum' %}forum-active{% else %}forum{% endif %}.svg" />
            <a class="text-nav">Форум</a>
        </div>
        {% else %}
        <div onclick="window.location.href='/cabinet/'" class="btn-nav{% if path[1] == 'forum' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/light/{% if path[1] == 'forum' %}forum-active{% else %}forum{% endif %}.svg" />
            <a class="text-nav">Форум</a>
        </div>
        {% endif %}

        <div onclick="window.location.href='/info/'" class="btn-nav{% if path[1] == 'info' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/light/{% if path[1] == 'info' %}help-active{% else %}help{% endif %}.svg" />
            <a class="text-nav">Помощь</a>
        </div>

        <div id="btn-menu" class="btn-nav">
            <img class="svg-nav" src="/content/images/nav/light/menu.svg" />
            <a class="text-nav">Меню</a>
        </div>

        <div id="btn-menu1" class="btn-nav btn-menu-none btn-nav-active">
            <img class="svg-nav" src="/content/images/nav/light/menu-active.svg" />
            <a class="text-nav">Закрыть</a>
        </div>
    </nav>
    {% else %}
    <nav class="mobile-nav ux-m">
        <div onclick="window.location.href='/'" class="btn-nav{% if path[1] == '' %} btn-nav-active{% endif %}">
            <img class="svg-nav" src="/content/images/nav/{% if path[1] == '' %}home-active{% else %}home{% endif %}.svg" />
            <a class="text-nav">Главная</a>
        </div>

        <div onclick="window.location.href='/servers/'" class="btn-nav{% if path[1] == 'servers' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/{% if path[1] == 'servers' %}servers-active{% else %}servers{% endif %}.svg" />
            <a class="text-nav">Сервера</a>
        </div>

        {% if user != null %}
        <div onclick="post('https://cristalix.ru/frm_enter.php',{'user_login':'{{ user.username }}','user_mail':'{{ user.email }}','user_hash':'{{ user.forum_hash }}'})" class="btn-nav{% if path[1] == 'forum' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/{% if path[1] == 'forum' %}forum-active{% else %}forum{% endif %}.svg" />
            <a class="text-nav">Форум</a>
        </div>
        {% else %}
        <div onclick="window.location.href='/cabinet/'" class="btn-nav{% if path[1] == 'forum' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/{% if path[1] == 'forum' %}forum-active{% else %}forum{% endif %}.svg" />
            <a class="text-nav">Форум</a>
        </div>
        {% endif %}

        <div onclick="window.location.href='/info/'" class="btn-nav{% if path[1] == 'info' %} btn-nav-active{% endif %}">
            <img class="svg-nav " src="/content/images/nav/{% if path[1] == 'info' %}help-active{% else %}help{% endif %}.svg" />
            <a class="text-nav">Помощь</a>
        </div>

        <div id="btn-menu" class="btn-nav">
            <img class="svg-nav" src="/content/images/nav/menu.svg" />
            <a class="text-nav">Меню</a>
        </div>

        <div id="btn-menu1" class="btn-nav btn-menu-none btn-nav-active">
            <img class="svg-nav" src="/content/images/nav/menu-active.svg" />
            <a class="text-nav">Закрыть</a>
        </div>
    </nav>
    {% endif %}

    <main class="main-block-content">
        {{ block('content') }}
    </main>
    <footer>
        <div class="copyright">
            <div class="footer-array"><a href="/info/terms" class="footer-link">Пользовательское соглашение</a><a href="/info/policy" class="footer-link">Политика конфиденциальности</a><a href="/info/contacts" class="footer-link">Контакты</a></div>
            <span class="copyrighttext">
          © CRISTALIX.RU 2018-{{ "now"|date("Y") }}
          <br/>
          <font size="2px"
          >Все права защищены! Оригинальные права принадлежат Mojang AB</font
          ><br/>
        </span>
        </div>
    </footer>
    <!--    {{ include('adwords.html') }}-->
    <script src="/content/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/content/js/botons.js"></script>
    <script type="text/javascript" src="/content/js/dropdown.js"></script>
    <script type="text/javascript" src="/content/js/mobile.js"></script>
    <script type="text/javascript" src="/content/js/tray.js"></script>

    {% if cookie_accept == null %}{{ include('cookie.html') }}{% endif %}
</body>

</html>