<div id="cookiePanel" class="cookie">
    <div class="cookie-box">
        <div class="cookie-box-text">
            <div class="cookie-text textc">Пользуясь нашим сайтом, вы соглашаетесь с использованием нами cookie-файлов.</div>
        </div>
        <div class="cookie-box-btn">
            <button id="cookieBtn" class="HOVER cookie-btn" href="/discord" target="_blank">
                <span> </span>
                <text class="textb">
                    Окей
                </text>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/content/js/cookie-panel.js"></script>