<div id="operators-enot" class="block-operators block-operators-vanish">


    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/yoomoney.png">
        <a class="text-operators textc">ЮMANEY</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/visa.png">
        <a class="text-operators textc">VISA</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mastercard.png">
        <a class="text-operators textc">mastercard</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mir.png">
        <a class="text-operators textc">МИР</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/samsungpay.png">
        <a class="text-operators textc">Samsung pay</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/applepay.png">
        <a class="text-operators textc">Apple pay</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/ethereum.png">
        <a class="text-operators textc">Ethereum</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/advcash.png">
        <a class="text-operators textc">Advcash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/bitcoincash.png">
        <a class="text-operators textc">Bitcoincash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/bitcoin.png">
        <a class="text-operators textc">Bitcoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/litecoin.png">
        <a class="text-operators textc">Litecoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/chekzcash.png">
        <a class="text-operators textc">Zcash</a>
    </div>

</div>