<div id="operators-freekassa" class="block-operators block-operators-vanish">
    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/qiwi.png">
        <a class="text-operators textc">QIWI</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/yoomoney.png">
        <a class="text-operators textc">ЮMANEY</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/visa.png">
        <a class="text-operators textc">VISA</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mastercard.png">
        <a class="text-operators textc">mastercard</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/megaphone.png">
        <a class="text-operators textc">Мегафон</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/beeline.png">
        <a class="text-operators textc">Билайн</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/tele2.png">
        <a class="text-operators textc">Tele2</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/fk.png">
        <a class="text-operators textc">fkwallet</a>
    </div>


    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/steam.png">
        <a class="text-operators textc">Steam Pay</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/bitcoin.png">
        <a class="text-operators textc">Bitcoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/tether.png">
        <a class="text-operators textc">tether</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/litecoin.png">
        <a class="text-operators textc">Litecoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/perfectmoney.png">
        <a class="text-operators textc">perfect money</a>
    </div>
</div>