{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Главная">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block-horizontal background-home5 block-menu">

            <div class="welcome-text">
                <a style="font-size: 27px;" class="texta" id="welcome-text"></a>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    let phrases = [
                        "Не думай, нажимай!",
                        "Всего пять минуточек!",
                        "Запрыгивай!",
                        "Давай танцевать!",
                        "Делаю вдох...",
                        "Принцесса в другом замке!",
                        "Давно ты тут? Заходи.",
                        "Поиграем?",
                        "Оригинальнее некуда.",
                        "Живём!",
                        "Поиграть - всегда найдётся!",
                        "Cделано в России!",
                        "тема века",
                        "Некий проект.",
                        "Твой вечный спутник.",
                        "Теперь на Марсе!",
                        "Somebody once told me.",
                        "Зажжём!",
                        "Случайный сплэш!",
                        "Вкл Выкл Вкл Выкл.",
                        "Поищите мой рулетик в лобби.",
                        "Сияй! Сияй!",
                        "Привет, Казахстан!",
                        "Любовь с первого клика.",
                        "Привет, Саратов!",
                        "Тёмные темы важны!",
                        "Мы знаем где ты живёшь.",
                        "Выполнено на 5-нм!",
                        "Использует LWJGL!",
                        "Третья волна!",
                        "С молоком вкуснее!",
                        "Гибридный режим.",
                        "Уже на орбите!",
                        "Не ждали?",
                        "Прячемся от ковида.",
                        "Сплеш!",
                        "А ты мне нравишься! Пошли, поиграем!",
                        "Ребут!",
                    ];
                    $("#welcome-text").text(
                        phrases[Math.floor(Math.random() * phrases.length)]
                    );
                });
            </script>

            <div class="obsolute-online">
                <a class="textb">Общий онлайн: {{ total_online }} </br>
            Рекордный онлайн: {{ peak_online }}</a>
            </div>
            <div class="link-launcher">
                <a class="textb linktext" href="/launcher">
                Скачать лаунчер <img class="text-icon icon-theme" src="/content/images/icons/anime-icon-download-mini.svg">
            </a>
            </div>
            <button class="start-button HOVER" onclick="document.location='/play'">
            <span> </span>
            <text class="textb start-btn disable-selection">
                Начать играть
            </text>
        </button>

        </div>


        <div class="block-vertical right-block background-home2 ">
            <div class="mini-scroll server-list">
                {% for server in servers %}
                <div class="servers-flex {{ server.id }}-sv" onclick="window.location.href='/servers/{{ server.id }}'">
                    <img class="server-icon" height="56px" {% if theme=="light" %}src="/content/images/servers/light/{{ server.id }}.svg" {% else %}src="/content/images/servers/{{ server.id }}.svg" {% endif %} width="55px" />
                    <a class="texta server-name">{{ server.name }}</a>
                    <a class="texta server-online">{% if server.is_online == false %}Оффлайн{% else %}{{
          server.current_players }}&nbsp;/&nbsp;{{ server.max_players }}{% endif %}</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="block left-block block-invisible">
            <div class="block-widget-vk block-shadow">
                <div class="widget-head-vk">

                    {% if theme == "light" %}<img class="logo-vk disable-selection" height="90px" src="/content/images/icons/light/vk.svg" width="90px" />{% else %}<img class="logo-vk disable-selection" height="90px" src="/content/images/icons/vk.svg"
                        width="90px" />{% endif %}
                </div>

                <button target="_blank" class="HOVER discord-button" onclick="window.open('https://vk.com/cristalixreloaded'); return false;">
                <span> </span>
                <text class="textb">
                    Подписаться на новости
                </text>
            </button>




                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
                <div id="vk_groups">



                </div>

                {% if theme == "light" %}
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {
                        mode: 2,
                        no_cover: 1,
                        width: "326",
                        height: "402",
                        color1: '#ffffff',
                        color2: '#000000',
                        color3: '#2A66BD'
                    }, 130937524);
                </script>
                {% else %}
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {
                        mode: 2,
                        no_cover: 1,
                        width: "326",
                        height: "402",
                        color1: '#101313',
                        color2: '#ffffff',
                        color3: '#2A66BD'
                    }, 130937524);
                </script>
                {% endif %}

            </div>


            <div class="block-widget-discord block-shadow" height="435" width="327">
                <div>
                    <button class="HOVER discord-button" onclick="window.location.href='/cabinet/login'" target="_blank">
                    <span> </span>
                    <text class="textb">
                        Подключиться к серверу
                    </text>
                </button>
                </div>

                <div class="widget-head-discord">
                    {% if theme == "light" %}<img class="logo-discord disable-selection" height="75px" src="/content/images/icons/light/discord.svg" width="190px" />{% else %}
                    <img class="logo-discord disable-selection" height="75px" src="/content/images/icons/discord.svg" width="190px" />{% endif %}

                </div>

                <div class="dis-off-scroll"></div>
                <div class="discord-widget mini-scroll">

                    <div class="dis-off-scroll"></div>
                    <div class="discord-wg">
                        <script src="/content/js/discord-widget.js" type="text/javascript"></script>
                        <script type="text/javascript">
                            discordWidget.init({
                                serverId: "443021903993765898",
                                title: "Cristalix",
                                join: false,
                                joinText: "none",
                                alphabetical: false,
                                theme: "dark",
                                hideChannels: ["all"],
                                showAllUsers: true,
                                allUsersDefaultState: true,
                                showNick: false,
                                userName: "",
                                useCDN: false,
                            });
                            discordWidget.render();
                        </script>
                        <div class="discord-widget"></div>
                    </div>


                </div>
            </div>
        </div>

        <div class="block left-block background-home ">
            <div class="news-block-fix">
                <div class="news-block" target="_blank" onclick="window.open('//www.youtube.com/user/demaster59ru'); return false;">
                    <img class="news-preview" src="/content/images/img/youtube.png">
                    <text class="texta">
                            На канале Demaster<br>
                            <a class="textb">новое видео   </a>
                        </text>
                    <img class="news-blink" src="/content/images/nav/blink.svg">
                </div>

                <div class="news-block" target="_blank" onclick="window.location.href='/cabinet'">
                    <img class="news-preview" src="/content/images/img/new2fa.png">
                    <text class="texta">
                        Подключи 2fa<br>
                    <a class="textb">защити свой аккаунт </a>
                    </text>
                    <img class="news-blink" src="/content/images/nav/blink.svg">
                </div>

                <div class="news-block" onclick="window.location.href='/servers/galax'">
                    <img class="news-preview" src="/content/images/img/new1.png">
                    <text class="texta">
                        Новый сервер<br>
                    <a class="textb">Galax  </a>
                    </text>
                    <img class="news-blink" src="/content/images/nav/blink.svg">
                </div>
            </div>
        </div>
    </div>
</main>
<script src="content/js/openapi.js" type="text/javascript"></script>
{% endblock %}