<div id="operators-Interkassa" class="block-operators">
    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/webmoney.png">
        <a class="text-operators textc">Webmoney</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mir.png">
        <a class="text-operators textc">МИР</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/visa.png">
        <a class="text-operators textc">VISA</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mastercard.png">
        <a class="text-operators textc">mastercard</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/privat24.png">
        <a class="text-operators textc">Приват 24</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/megaphone.png">
        <a class="text-operators textc">Мегафон</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/beeline.png">
        <a class="text-operators textc">Билайн</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/tele2.png">
        <a class="text-operators textc">Tele2</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/mts.png">
        <a class="text-operators textc">МТС</a>
    </div>


    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/kyivstar.png">
        <a class="text-operators textc">Kyivstar</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/lifecell.png">
        <a class="text-operators textc">Lifecell</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/vodafone.png">
        <a class="text-operators textc">Vodafone</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/nixmoney.png">
        <a class="text-operators textc">NIX Money</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/advcash.png">
        <a class="text-operators textc">ADV Cash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/bitcoin.png">
        <a class="text-operators textc">Bitcoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/bitcoincash.png">
        <a class="text-operators textc">Bitcoincash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/ripple.png">
        <a class="text-operators textc">Ripple</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/ethereum.png">
        <a class="text-operators textc">Ethereum</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/chekzcash.png">
        <a class="text-operators textc">Zcash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/tether.png">
        <a class="text-operators textc">Tether</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/doge.png">
        <a class="text-operators textc">Doge</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/chekdash.png">
        <a class="text-operators textc">Dash</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/litecoin.png">
        <a class="text-operators textc">Litecoin</a>
    </div>

    <div class="content-operators">
        <img class="img-operators" src="/content/images/system-pay/perfectmoney.png">
        <a class="text-operators textc">Perfect Money</a>
    </div>
</div>