{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Контакты">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/contacts">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading">
            <text class="img-article-text">Контакты<br>
                <text class="img-article-rider"></text>
            </text>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">
            <text class="texta">
                Группа ВКонтакте:
            </text><br>
            <text href="https://vk.com/cristalixreloaded" class="textb linktext">
                https://vk.com/cristalixreloaded
            </text><br><br>

            <text class="texta">
                Дискорд:
            </text><br>
            <text href="/discord" class="textb linktext">
                https://cristalix.ru/discord
            </text><br><br>

            <text class="texta">
                Телефон для связи:
            </text><br>
            <text class="textb">
                +79374290240
            </text><br><br>

            <text class="texta">
                Почта для связи:
            </text><br>
            <text class="textb">
                help@cristalix.ru
            </text><br><br><br>
            <text href="/info/terms" class="textc link-bnt">Пользовательское соглашение</text><br>
            <text href="/info/policy" class="textc link-bnt">Политика конфиденциальности</text><br>
            <text href="/info/contacts" class="textc link-bnt">Контакты</text>



        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}