{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Донат-информация">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading">
            <text class="img-article-text">Страница помощи<br>
                <text class="img-article-rider"></text>
            </text>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <text class="texta">Донат-статусы</text><br>
            <text class="textb">
                Донат на мини-играх: привелегии iron, vip, vip+ пользователь получает при пополнении внутри игрового кошелька (Кристалликов) переводом реальной валюты ( рубль ) Через: Банковскую карту, Webmoney, ЮMoney, Qiwi или другими способами указанными на
                <a class="textb linktext" href="/donate">странице доната</a>.
                <br> (1 рубль равен одному Кристаллику!) <br> Для получения статуса не требуется разовая оплата, донат можно накопить со временем. <br> На мини-играх существуют следующие донат-статусы: <br>
                <img class="img-article-b" src="/content/images/img/donate.svg"><br> Покупка привелегий на модовых отличаеться от мини-игр, покупка производиться через внутри игровое меню, открываймое на f4, за игровую валюту (Кристаллики).<br> Цены,
                название и способы покупки могут отличаться от представленных ниже привелегий
                <img class="img-article-b" src="/content/images/img/donateformods.png">
            </text>
            </br>
            </br>
        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>

        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}