{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Лаунчер">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Помощь по запуску лаунчера<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta">Если фильтр SmartScreen заблокировал запуск</a><br>
            <a class="textb">Обычно это выглядит так:</a>
            <img class="img-article-b" src="/content/images/img/sshelp0.jpg"><br><br>
            <a class="textb">1. Нажмите «Подробнее»</a>
            <img class="img-article-b" src="/content/images/img/sshelp1.jpg"><br><br>
            <a class="textb">2. Нажмите «Выполнить в любом случае»</a>
            <img class="img-article-b" src="/content/images/img/sshelp2.jpg"><br><br>
            <a class="textb">Приятной игры!</a><br><br><br>

            <a class="texta">Если у вас вместо лаунчера открылся архив</a></br>
            <a class="textb">   Эта простая инструкция поможет вам, если вместо лаунчера у вас открывается архив:
                Примечание: эта инструкция актуальна только для пользователей Windows</br>
                1. Нажмите правой кнопкой на файл лаунчера и выберите «Свойства».</a></br>
            <img class="img-article-b" src="/content/images/img/help1.png"><br><br>
            <a class="textb">2. Напротив пункта «Приложение» нажмите «Изменить»</a><br>
            <img class="img-article-b" src="/content/images/img/help2.png"><br><br>
            <a class="textb">3. Выберите Java. Окно выбора приложения может отличаться от указанного на скрине, но в любом случае надо будет выбрать Java и, если будет необходимо, нажать OK.</a><br>
            <img class="img-article-b" src="/content/images/img/help3.png"><br><br>
            <a class="textb linktext" href="https://ru.wikihow.com/%D0%B7%D0%B0%D0%BF%D1%83%D1%81%D1%82%D0%B8%D1%82%D1%8C-.JAR-%D1%84%D0%B0%D0%B9%D0%BB"> Что делать, если нет варианта Java? </a><br>
            <a class="textb"> 4. Нажмите OK в окне свойств файла. Теперь можете запускать лаунчер двойным кликом. Удачной игры!</a><br><br>
            <a class="textb">Если вы дочитали эту страницу до конца,но не нашли решения своей проблемы,</a><br><a class="textb linktext" href="https://cristalix.ru/forum/threads/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%BE%D1%84%D0%BE%D1%80%D0%BC%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F-%D1%82%D0%B5%D0%BC-%D0%9F%D0%BE%D1%87%D0%B5%D0%BC%D1%83-%D0%BC%D0%BE%D1%8E-%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D1%83-%D0%B8%D0%B3%D0%BD%D0%BE%D1%80%D0%B8%D1%80%D1%83%D1%8E%D1%82.1756/"> сообщите об ошибке на форуме.</a>
        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>

        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}