{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Правила">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Правила<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">

            <a class="texta">Правила игрового проекта «Cristalix»</a><br>

            <a href="/info/terms" class="textc link-bnt">Пользовательское соглашение</a><br>
            <a href="/info/policy" class="textc link-bnt">Политика конфиденциальности</a><br><br>


            <a class="texta">Правила серверов «Cristalix»</a><br>
            <a href="/forum/" class="textc link-bnt">Правила MiniGames</a><br>
            <a href="/forum/" class="textc link-bnt">Правила Модовых серверов</a><br><br>



        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}