{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Стафф">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Страница помощи<br>
                <a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">
            <div class="staff-table-box">
                <div class="staff-table">
                    <div id="StaffOwners" class="staff-block">
                        <div class="staff-head-block"> <text class="texta"> OWNER </text>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">_Demaster_<br>
                                <text class="textc">Основатель проекта</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">Master_chan<br>
                                <text class="textc">Тимлид разработчиков</text> </a>
                        </div>
                    </div>
                    <div id="StaffAdminsModded" class="staff-block">
                        <div class="staff-head-block"> <text class="texta"> ADMINISTRATOR (МОДОВЫЕ) <br><text
                                    class="linktext textc"> <img class="staff-color-indicator"
                                        src="/content/images/icons/none.png"> Подчиняются: OWNER</text>
                            </text>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">radioegor146<br>
                                <text class="textc">NeoTech, Magica, TechnoMagic, DivinePVP, SkyTechVoid</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">EveryMe<br>
                                <text class="textc">NeoTech, Magica, TechnoMagic, DivinePVP, SkyTechVoid</text> </a>
                        </div>
                    </div>
                    <div id="Staff3dArtists" class="staff-block">
                        <div class="staff-head-block"> <text class="texta"> 3D ARTISTS<br><text class="linktext textc">
                                    <img style="background: #FF4F4F;" class="staff-color-indicator"
                                        src="/content/images/icons/none.png"> Подчиняются: ADMINISTRATOR
                                </text> </text>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">KlashRaick<br>
                                <text class="textc">Куратор</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">ImPlag<br>
                                <text class="textc">3d артист</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">Makakich<br>
                                <text class="textc">3d артист</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">ender_edik<br>
                                <text class="textc">3d артист</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">KindMineR<br>
                                <text class="textc">3d артист</text> </a>
                        </div>
                    </div>
                </div>
                <div class="staff-table">
                    <div id="StaffAdmins" class="staff-block">
                        <div class="staff-head-block"> <text class="texta"> ADMINISTRATOR <br><text
                                    class="linktext textc"> <img class="staff-color-indicator"
                                        src="/content/images/icons/none.png"> Подчиняются: OWNER
                                </text> </text>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">tipok95<br>
                                <text class="textc">Оп. куратор модераторов</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">__xDark<br>
                                <text class="textc">Кора, Лаунчер, Клиент</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">CertainLach<br>
                                <text class="textc">Кора, Лаунчер, Клиент, Персонализация</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">disrespectfulme<br>
                                <text class="textc">Prison, RPG, SkyWars, Among Us</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">ilyafx<br>
                                <text class="textc">Бомж, Creative, BuildBattle, Bingo, SkyWars, Крокодил,
                                    SpeedBuilders, Кора</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">DiamondDen<br>
                                <text class="textc">Скотобойня, SkyBlock, ColorControl, 2b2t, Spleef, Events</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">KlashRaick<br>
                                <text class="textc">Скотобойня, SkyBlock, ColorControl, 2b2t, Spleef, Events</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">kasdo <br>
                                <text class="textc">Pixelmon, GTM, AntBlock, JediCraft Old, BlockParty, ZombieMod,
                                    Custom Steve Chaos, JediCraft New
                                </text> </a>
                        </div>
                    </div>
                </div>
                <div class="staff-table">
                    <div id="StaffDevs" class="staff-block">
                        <div class="staff-head-block"> <text class="texta"> DEVELOPER <br><text class="linktext textc">
                                    <img class="staff-color-indicator" src="/content/images/icons/none.png">
                                    Подчиняются: OWNER
                                </text> </text>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">UndFrame<br>
                                <text class="textc">AntWars, Симуляторы, GunGame, BedWars</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">sonic<br>
                                <text class="textc">Annihilation, SkyGrid</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">lakaithree<br>
                                <text class="textc">Анархия, Ванилла, Duels, BrawlStars</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">EveryMe<br>
                                <text class="textc">Модовые сервера (NeoTech, Magica, TechnoMagic, DivinePVP,
                                    SkyTechVoid), Сайт, Форум</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">radioegor146<br>
                                <text class="textc">Модовые сервера (NeoTech, Magica, TechnoMagic, DivinePVP,
                                    SkyTechVoid), Сайт, Форум</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">one1side<br>
                                <text class="textc">Дизайнер (Сайт, Форум, Лаунчер и другое)</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">DelfikPro<br>
                                <text class="textc">Museum</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">Func<br>
                                <text class="textc">Museum</text> </a>
                        </div>
                        <div class="staff-sub">
                            <img class="staff-skin" src="/content/images/icons/skin.png"> <a href="ссылка на форум" class="texta">DimaLove_<br>
                                <text class="textc">RPG Requiem</text> </a>
                        </div>
                    </div>
                </div>
                <div class="staff-table">
                </div>
            </div>
        </div>

        <div class="column-info ux-pc">{{ include('column.html') }} </div>

        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}