{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Cброс пароля">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/confirm">
<meta name="twitter:card">{% endblock %} {% block content %}
<div class="single-row">
    <div class="block background-recovery-2">
        <div class="centered-text"><a class="textb">Cброс пароля</a></div>
        <div>
            <form>
                <input class="reg-padding minecraft-register inputy" id="key-input" name="key" placeholder="Код восстановления" required="" type="text" value="{{ get.key|e('html_attr') }}" />

                <input autofocus="" class="reg-padding password-register inputy" id="password-input" name="password" placeholder="Новый пароль" required="" type="password" />

                <div class="tooltip-red-left flash-error tooltip-two-lines" id="password-error-block">
                    <element width="150px;">
                        <div id="password-error" class="tooltip-text-cntr"></div>
                    </element>
                </div>

                <input class="reg-padding repeat-password-register inputy" id="repeat-password-input" name="repeat-password" placeholder="Повтор нового пароля" required="" type="password" />

                <div class="tooltip-red-left flash-error" id="repeat-password-error-block">
                    <element width="150px;">
                        <div id="repeat-password-error" class="tooltip-text-cntr"></div>
                    </element>
                </div>

                <button class="HOVER register-button" id="confirm-button"><span></span>
                    <text class="textb">Продолжить</text>
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/content/js/recovery_confirm.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
{{ include('recaptcha.html') }} {% endblock %}