{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - Magica">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-magica-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/magica.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/magica.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/magica/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info  ">
                <div class="server-info-bottom">
                    <a class="texta"> Magica<br /> </a>
                    <a class="textb">
            Версия: 1.7.10<br />
            PVP: Включено<br />
            Последний вайп: 29.07.20<br />
            Размер основного мира: 10 000 x 10 000<br />
            Размер дополнительных миров: 4 000 x 4 000
          </a>
                </div>
            </div>
        </div>
        <div class="block right-block background-magica-2">

            <div class="server-mods-list mini-scroll">
                <a class="texta"> Список модификаций:<br /> </a>
                <a>
                    <div class="line-divs textb">Thaumcraft</div>
                    <div class="line-divs textb">- Automagy</div>
                    <div class="line-divs textb">- Forbidden Magic</div>
                    <div class="line-divs textb">- Gadomancy</div>
                    <div class="line-divs textb">- Tainted Magic</div>
                    <div class="line-divs textb">- Inventory Scan</div>
                    <div class="line-divs textb">- Thaumic Bases</div>
                    <div class="line-divs textb">- Thaumic Exploration</div>
                    <div class="line-divs textb">- Thaumic Horisons</div>
                    <div class="line-divs textb">- Thaumic Tinkerer</div>
                    <div class="line-divs textb">- Witching Gadgets</div>
                    <div class="line-divs textb">Tinkers Construct</div>
                    <div class="line-divs textb">- ExtraTiC</div>
                    <div class="line-divs textb">- Iguana Tinker Tweaks</div>
                    <div class="line-divs textb">- TiC Tooltips</div>
                    <div class="line-divs textb">Better Foliage</div>
                    <div class="line-divs textb">Biomes O'Plenty</div>
                    <div class="line-divs textb">Blood Magic</div>
                    <div class="line-divs textb">Botania</div>
                    <div class="line-divs textb">Carpenter's Blocks</div>
                    <div class="line-divs textb">Chisel</div>
                    <div class="line-divs textb">Custom NPCs</div>
                    <div class="line-divs textb">Damage Indicators</div>
                    <div class="line-divs textb">Dragon's Radio</div>
                    <div class="line-divs textb">Fancy Block Particles</div>
                    <div class="line-divs textb">Hardcore Ender Expansion</div>
                    <div class="line-divs textb">Iron Chest</div>
                    <div class="line-divs textb">Journey Map</div>
                    <div class="line-divs textb">Not Enough Items</div>
                    <div class="line-divs textb">Online Picture Frame</div>
                    <div class="line-divs textb">OptiFine</div>
                    <div class="line-divs textb">Storage Drawers</div>
                    <div class="line-divs textb">Travellers Gear</div>
                    <div class="line-divs textb">Twilight Forest</div>
                    <div class="line-divs textb">Waila</div>
                    <div class="line-divs textb">Witchery</div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}