{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера - Pixelmon">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-pixelmon-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/pixelmon.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/pixelmon.svg" />{% endif %}
            </div>
            <a class="tooltip-left flash-info" href="/info/servers/pixelmon/">
                <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
            </a>
            <div class="server-info  ">
                <div class="server-info-bottom">
                    <a class="texta"> Pixelmon<br /> </a>
                    <a class="textb">
            Версия: 1.12.2<br />
            PVP: Включено<br />
            Последний вайп: not info<br />
            Размер основного мира: not info<br />
            Размер дополнительных миров: not info
          </a>
                </div>
            </div>
        </div>
        <div class="block right-block background-pixelmon-2">

            <div class="server-mods-list mini-scroll">
                <a class="texta"> Список модификаций:<br /> </a>
                <a>
                    <div class="line-divs textb">Pixelmon</div>
                    <div class="line-divs textb">PamsHarvestCraft</div>
                    <div class="line-divs textb">Chisel</div>
                    <div class="line-divs textb">BetterFoliagle</div>
                    <div class="line-divs textb">JourneyMap</div>
                    <div class="line-divs textb">IronChest</div>
                    <div class="line-divs textb">JEI</div>
                    <div class="line-divs textb">MouseTweaks</div>
                    <div class="line-divs textb">WorldEdit</div>
                    <div class="line-divs textb">phosphor</div>
                    <div class="line-divs textb">NamedEnchantments</div>
                    <div class="line-divs textb">InventorySpam</div>
                    <div class="line-divs textb">BetterFps</div>
                    <div class="line-divs textb">foamfix</div>
                    <div class="line-divs textb">clientfixer</div>
                    <div class="line-divs textb">PixelmonBroadcasts</div>
                    <div class="line-divs textb">PixelExtras</div>
                    <div class="line-divs textb">Wawla</div>
                    <div class="line-divs textb">PixelMoney</div>
                    <div class="line-divs textb">WonderTrade</div>
                    <div class="line-divs textb">CustomNPCs</div>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}