{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="2b2t">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/2b2t">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">2B2T<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">

        <div class="text-article">

            <a class="texta"> Ад на Земле </a> <br>
            <a class="textb">Самый хаотичный и безумный режим во всем Cristalix. Тут разрешено практически все, начиная от нарушения правил в чате, до дюпов. </br>
                Игроки убивают просто так, повсюду взрывы и лавакасты, а сам спавн подорван вплоть до бедрока. Тебе решать кем быть тут, убийцей новичков или самим новичком.</br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}