{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Among Us">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/amongus">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Among Us<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Коричневый вентнулся, голосуйте за него.
            </a> <br>
            <a class="textb">
                Игроки случайным образом разделяются на две команды:
                члены экипажа и предатели.
                Почини корабль и выгони предателей, или стань предателем и тайком уничтожь всю команду
            </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}