{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Annihilation">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/annihilation">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Annihilation<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta">Один на Нексусе, все за одного. </a> <br>
            <a class="textb"> Этот режим идеально подходит для любых кланваров, а также для любителей плавных развитий.  </br>
                Здесь важен не только 6 кпс, Но ещё и ловкость с критическим мышлением. Благодаря добавленным классам, игра становится еще комплекснее и интереснее!</br>   
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}