{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="AntWars">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/antwars">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">AntWars<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Страшилка для мирмекофобов. </a> <br>
            <a class="textb"> Будучи закопанным вглубь, ваша цель развиваться благодаря ресурсам сгенерированным вокруг вас. </br>
                Остерегайтесь внезапных: врагов, ловушек, паутин и собственного свечения.  </br>Сможете ли вы победить всех соперников? </br>
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}