{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="BlockParty">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/blockparty">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">BlockParty<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Рекомендуется танцорами с '84 года. </a> <br>
            <a class="textb"> Это игра на ловкость.</br>
                Тут ты должен молниеносно вставать на блок определённого цвета, уворачиваясь от лазеров, которые могут тебе помешать.</br>
                Копи монеты, одевайся моднее, и покажи всем, кто лучший на танцполе.</br>
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}