{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="GunGame">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/gungame">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">GunGame<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Только не бей в спину. </a> <br>
            <a class="textb"> Один из старейших пвп-режимов для самых стойких и суровых игроков. Убивай своих врагов
					чтобы получить улучшенное оружие и броню, стань первым, кто доберётся до максимального количества
					очков, покажи всем кто тут главный. </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}