{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="JediCraft">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/jedicraft">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">JediCraft<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Встань на тёмную сторону. </a> <br>
            <a class="textb"> Давно завоевавший сердца игроков режим по мотивам знаменитой космической
					трилогии "Звёздные войны". </br>
					На данном режиме Вам предстоит изучить мир, найти лучшую экипировку, и возможно, даже встать на
					тёмную сторону… </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}