{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="SkyBlock">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/skyblock">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">SkyBlock<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Падать придётся долго. </a> <br>
            <a class="textb"> Вокруг пустота. У тебя есть только небольшой кусок земли под ногами. Осмелишься
					испытать свою удачу, и превратить холодные небесные пустоши в свою великую крепость? </br>
					Развивайся на летающем острове, строй фермы, торгуй, выполняй задания и главное – не упади вниз.
					</br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}