{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="SkyGrid">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/skygrid">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">SkyGrid<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Интерстеллар в кубическом мире. </a> <br>
            <a class="textb"> Выживание на грани нереального в сотнях блоках, беспорядочно парящих в пустоте. </br>
					Развивайся, соревнуйся с другими игроками, покупай и продавай вещи, и не дай бездне себя поглотить.
					</br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}