{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Tom&Jerry">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/tomjerry">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Tom&Jerry<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> А вы ещё помните этот мультик?</a> <br>
            <a class="textb">Специально для вас мы сделали мини-игру в которой вы будете мышью или котом. Целью котов является поимка всех мышей, в то время как мышам нужно  собрать сыр, разбросанный по всей локации. </br> </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}