{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="ZombieMod">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/zombiemod">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">ZombieMod<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Маска на лице тут точно не спасёт. </a> <br>
            <a class="textb"> Ты выброшен на жуткую локацию вместе с множеством других игроков. Ваша задача –
					пережить нападение заражённого, коим становится один из вас. </br>
					Найди укрытие, отбивайся от зомби и будь готов бежать в любой момент! </br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}