{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Анархия">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/anarhy">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Анархия<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> 20.000 Динамита под землей. </a> <br>
            <a class="textb">Тнт пушки заряжены, игроки готовы кровью и потом уничтожать все на своем пути, чтобы забрать ваши ценные ресурсы!</br>
                Единственное что вас спасает это только нормальная защита и приват.</br>
                Кастомные зачарования, уникальная генерация мира, чем тебе не развлечение?</br>
            </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}