{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Russia">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/russia">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Выживание в России<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> То, что ты умеешь лучше всех. </a> <br>
            <a class="textb"> Увы, тяжёлая судьба оставила тебя без крова над головой и копейки в кармане. Печально,
					правда? Но ты просто так не сдашься! Начни свой путь с обычного сбора бутылок, и построй собственный
					бизнес на заработанных деньгах. Поднимись из грязи в князе в этом режиме-симуляторе бездомного!
					</br></a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}