{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Симуляторы">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/simulators">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Симуляторы<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Твоё идеальное дело. </a> <br>
            <a class="textb"> Тут ты найдёшь целый сборник режимов, где ты сможешь побывать, например - в роли
					рыбака, или владельца собственного ресторана. – конечно, это совсем не всё, и Cristalix подготовил
					для тебя ещё больше различных режимов! Каких, спросишь ты? – Скорее заходи, и взгляни сам! </br> </a>

        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>
        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}