{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="MiniGames">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/minigames">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">MiniGames<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Вместе веселее! </a> <br>
            <a class="textb"> Сервер Мини-игр – сердце, и визитная карточка проекта Cristalix. Тут тебя ждут как одиночные, так и командные игровые режимы над которыми без устали трудятся талантливые разработчики нашей команды! Собери всех своих друзей в команду, и займи трон лидерства на нашем самом большом сервере!



			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}