{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="NeoTech">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/neotech">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">NeoTech<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta">  Механизмы и инновации!  </a> <br>
            <a class="textb"> Этот сервер - технический цех нашего проекта. Нравится разбираться в огромных
                механизмах и настраивать целые логистические центры? – тогда это место для тебя. <br>
                Начни с генератора стерлинга и дробителей, заработай энергии с продвинутыми материалами, и стань
                новым Илоном Маском на Cristalix! <br>

			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}