{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="Pixelmon">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/pixelmon">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Pixelmon<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta">  Кидай покеболл!  </a> <br>
            <a class="textb">  Мы рады приветствовать своих будущих чемпионов на великих аренах! Сервер основан по
                идее легендарного сериала «Покемон». Тут тебе так же предстоит стать чемпионом и владельцем
                множества сильных, порой неподвластных тебе с первой попытки существ! <br>
                Оттачивай своё мастерство, пополняй огромную коллекцию зверьков, и развивай боевые навыки! <br>


			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}