{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="RPG Parfeon">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/rpgparfeon">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">RPG Parfeon<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Погрузись в мрачный мир… </a> <br>
            <a class="textb">  Тебя встретит нелинейное рпг в средневековом сеттинге с сюжетными и побочными квестами
                в открытом мире. 
                Этот сервер предназначен специально для тех, кто устал от повседневной суеты на остальных серверах.


			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}