{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="SkyVoid">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image " content="//cristalix.ruimages/title/info.png ">
<meta itemprop="image " content="//cristalix.ruimages/title/info.png ">
<meta name="twitter:image " content="//cristalix.ruimages/title/info.png ">
<meta name="twitter:card ">{% endblock %}{% block content %}
<div class="content-block-opis ">
    <div class="img-article background-info " src="/content/images/img/sp.png ">
        <dev class="img-article-heading "><a class="img-article-text ">SkyVoid<br>
				<a class="img-article-rider "></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid ">


        <div class="text-article ">

            <a class="texta ">  А теперь попытайся не упасть! </a> <br>
            <a class="textb "> Вокруг тебя только пустота, великая пропасть и бесконечный горизонт. Ты очнулся на
                небольшом острове с некоторым запасом ресурсов. Что предстоит делать? Куда продвигаться? <br>
                На все эти вопросы ответит наша сбалансированная связка технических и магических модов. Тебе
                предстоит справиться с хардкорным выживанием в небесах по мотивам знаменитого SkyBlock режима. <br>

			</div>
			<div class="column-info ux-pc ">{{ include('column.html') }} </div>
			<div class="column-info ux-m ">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}