{% extends "base.html" %} {% block title %}{% endblock %}{% block og %}
<meta property="og:title" content="TechnoMagic">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/technomagic">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">TechnoMagic<br>
				<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta">  Магическо-техническое безумие!  </a> <br>
            <a class="textb"> Тебе не хватает простой магии или технических аспектов на серверах? Специально для
                тебя мы сделали взрывную смесь из невозможной комбинации лучших модов на нашем проекте. <br>
                Тут тебя ждёт много путей – углубись в магию, и стань великим архимагом, или же попробуй себя в
                строении ядерных реакторов! Но почему бы всё это не совместить? Конечно, наша сборка даст тебе такую
                возможность. <br>


			</div>
			<div class="column-info ux-pc">{{ include('column.html') }} </div>
			<div class="column-info ux-m">{{ include('column.html') }} </div><br>
		</div>
	</div>
{% endblock %}