{% extends "base.html" %} {% block title %}Не найдено - {% endblock %} {% block og %}
<meta property="og:title" content="Ошибка">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/404">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="conteks"></div>

    <div class="img-404" style="
        display: flex;
        justify-content: center;
        align-items: center;
      ">
        <div class="text-404">
            <a class="texta">404 </a>
            <a class="textb">Запрашиваемый контент не найден.</a>
        </div>

        <div class="block block-error {{
          random([" background-error-1 ",
          "background-error-2 ", "background-error-3 "])
      }}">
            <div class="error-block">
                <img class="error-roket" src="/content/images/icons/error.svg">
            </div>

        </div>
    </div>
</main>
{% endblock %}