{% extends "base.html" %} {% block title %} {% endblock %} {% block og %}
<meta property="og:title" content="access">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/access">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="single-row">
        <div class="block access-block">
            <div class="icon-block-access">
                <img class="icon-access" src="/content/images/icons/google.svg" /> </div>
            <div class="full-block-text"><a class="texta re-head">Google account</a>
                <br><a class="textb">Запрашивает доступ к вашему, для дальнешей
защитой и надзором входящих</a></div>

            <div class="access-bnt-block"><button onclick="" class="HOVER access-bnt"><span></span><text class="textb">Принять</text></button>
                <button onclick="" class="HOVER access-bnt"><span style="background:var(--carmine-dark); left: -2.5px; top: 31px;" ></span><text class="textb">Отклонить</text></button></div>
        </div>
    </div>
</main>
{% endblock %}