{% extends "base.html" %} {% block title %} {% endblock %} {% block og %}
<meta property="og:title" content="admin">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru"> {% endblock %} {% block content %}

<div id="admin" class="admin-block">
    <a class="texta admin-heading">Админпанель</a>
    <div onclick="window.location.href='/admin/account/'" class="admin-bnt">
        <a class="textb admin-name">Редактор<br/>аккаунта</a>
        <img class="admin-img" src="/content/images/nav/profile.svg" />
    </div>
</div>
<style>
    footer {
        visibility: hidden;
    }
</style>
<!--
<div id="dev" class="dev-block">
    <a class="texta admin-heading">Для разработчиков</a>
    <div class="admin-bnt">
        <a class="textc admin-name">Документация<br/>по API</a>
    <img class="admin-img" src="/content/images/icons/api.svg" />
  </div>

  <div class="admin-bnt">
    <a class="textc admin-name">Оформление<br/>статей в ВК</a>
    <img class="admin-img" src="/content/images/icons/vk-big.svg" />
  </div>
</div>-->
{% endblock %}