{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Страница доната">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/donate">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/donate.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/donate.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/donate.png">
<meta name="twitter:card">{% endblock %}{% block content %}
<div id="modal-frame" class="re-frame2">

    <div id="payment-system" class="re-bg">
        <div class="block-payment-system">


            <div style="height: 70px;" class="full-block-text"><a class="texta re-head">Выберите систему оплаты
            </br>
            <a class="textc">Пополняя через UnitPay или ENOT мы возвращаем до 10% комиссии!</a>
                </a>
            </div>


            <div class="Box-payment-system">
                <div class="checkbox-payment-system">
                    <label class="block-cps">
                    <input id="chek-ps-ik" value="Interkassa" name="payment-system" type="radio" class="option-input checkbox" checked/>
                    <a class="textb text-chek">Interkassa<br>
                        <!-- <a class="note-payment"> низкая комиссия </a> -->
                    </a>
                </label>
                </div>
            </div>

            <div class="Box-payment-system">
                <div class="checkbox-payment-system">
                    <label class="block-cps">
                    <input id="chek-ps-fk" value="Freekassa" name="payment-system" type="radio" class="option-input checkbox"/>
                    <a class="textb text-chek">Free kassa</a>
                </label>
                </div>
            </div>

            <div class="Box-payment-system">
                <div class="checkbox-payment-system">
                    <label class="block-cps">
                    <input id="chek-ps-et" value="Enot" name="payment-system" type="radio" class="option-input checkbox"/>
                    <a class="textb text-chek">Enot</a>
                </label>
                </div>
            </div>

            <div class="Box-payment-system">
                <div class="checkbox-payment-system">
                    <label class="block-cps">
                    <input id="chek-ps-up" value="Unitpay" name="payment-system" type="radio" class="option-input checkbox"/>
                    <a class="textb text-chek">Unitpay</a>
                </label>
                </div>
            </div>

            <div style=" margin-top: 45px;
            display: block;
            float: left;" class="full-block-text"><a class="texta re-head">Cпособы перевода
                </a>
            </div>

            <!-- Interkassa -->

            {{ include('interkassa.html') }}

            <!-- freekassa -->

            {{ include('freekassa.html') }}

            <!-- enot -->
            {{ include('enot.html') }}

            <!-- Unitpay -->

            {{ include('unitpay.html') }}


            <button id="continue-btn" onclick="" class="HOVER re-enter"><span></span>
                <text class="textb">Продолжить</text>
            </button>

            <button id="donate-exit-btn" class="HOVER re-enter-next donate-exit-btn"><span style=" background:var(--carmine-dark);"></span>
                <text
                        class="textb">Отменить
                </text>
            </button>

        </div>

    </div>
</div>

<main>
    <div class="row clearfix">

        <div class="block-horizontal background-donate-1">
            <div class="donate-block-container">
                <div class="donate-block">

                    {% if theme == "light" %}
                    <img class="donate-icon" src="/content/images/icons/light/donate-sum.svg"> {% else %}
                    <img class="donate-icon" src="/content/images/icons/donate-sum.svg"> {% endif %}

                    <text class="textb donate-text">Введите желаемую сумму</text>
                </div>
            </div>
            <div class="donate-block-container">
                <div class="donate-block">

                    {% if theme == "light" %}
                    <img class="donate-icon" src="/content/images/icons/light/donate-system.svg"> {% else %}
                    <img class="donate-icon" src="/content/images/icons/donate-system.svg"> {% endif %}

                    <text class="textb donate-text">Выберите систему оплаты</text>
                </div>
            </div>
            <div class="donate-block-container">
                <div class="donate-block">

                    {% if theme == "light" %}
                    <img class="donate-icon" src="/content/images/icons/light/donate-chek.svg"> {% else %}
                    <img class="donate-icon" src="/content/images/icons/donate-chek.svg"> {% endif %}

                    <text class="textb donate-text">Произведите оплату</text>
                </div>
            </div>

        </div>
        <div class="block left-block background-donate-2">

            <div class="donate-note">
                <text class="texta">При покупке сумма кристаликов </br> равна сумме рублей </br><text class="textc">без
                        учёта комисии*</text></text>
            </div>

            <input autofocus="" class="donate-payment inputy" id="username-input" name="username" placeholder="Никнейм" required="" type="text" value="{{ user.username }}" />
            <input autofocus="" class="donate-payment inputy" id="coins-input" name="username" placeholder="Сумма в кристалах" required="" type="number" />



            <div class="rules-read-donate options-elm">
                <label>
            <input type="checkbox" class="option-input checkbox" id="agreed-donate-input" />
            <a class="textc text-chek"> Нажимая Продолжить вы соглашаетесь с</a>
          </label><br> <a href="/info/terms" class="linktext">Пользовательским соглашением </a>и с<br> <a href="/info/policy" class="linktext">Политикой конфиденциальности</a>
            </div>

            <button class="HOVER donate-btn" id="payment-button" type="submit">
                <span> </span>
                <text class="textb">
                    Продолжить
                </text>
            </button>
        </div>
        <div class="block right-block background-donate-3">

            <div class="donate-list mini-scroll">


                <div class="donate-list-content">
                    <div class="balance-line-mein">
                        <img class="donate-dot-status-icon" src="/content/images/icons/donate-status.svg" />
                        <div class="balance-line-box">
                            <div class="balance-line" style="width: 100%"> </div>
                        </div>
                        <img class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    </div>

                    <div class="balance-info-box">
                        <div style="text-align: left;  width: 20%;" class="textc balance-info-text" id="old-group"></div>
                        <div style="text-align: center;  width: 60%;" class="textc balance-info-text" id="crystals-count"><a href="/cabinet/login" class="linktext">Авторизуйтесь</a></div>
                        <div style="text-align: right;  width: 20%;" class="textc balance-info-text" id="next-group"></div>
                    </div>

                    </br>
                    <a class="textc">Список привелегий за пополнение баланса "только для minigames"</a>

                </div>
                <div class="donate-list-content">
                    <img id="iron-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">IRON — 150 кристаликов</a></div>
                    <img class="donate-dot-status-icon donate-not-buy" src="/content/images/icons/donate-dot.svg" />
                    <div class="donate-name-content"><a class="textc">+ Полёт в хабах, киты на режимах, множители монет и опыта</a></div>

                </div>
                <div class="donate-list-content">

                    <img id="vip-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">VIP — 400 кристаликов</a></div>

                    <img id="vipplus-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">VIP+ — 900 кристаликов</a></div>

                    <img id="gold-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">GOLD — 1.200 кристаликов</a></div>

                    <img class="donate-dot-status-icon donate-not-buy" src="/content/images/icons/donate-dot.svg" />
                    <div class="donate-name-content"><a class="textc">VIP-Чат (/vc) "для выше перечисленных"</a></div>

                </div>

                <div class="donate-list-content">

                    <img id="premium-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">PREMIUM — 1.800 кристаликов</a></div>

                    <img id="premiumplus-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">PREMIUM+ — 3.000 кристаликов</a></div>

                    <img id="diamond-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">DIAMOND — 6.000 кристаликов</a></div>

                    <img class="donate-dot-status-icon donate-not-buy" src="/content/images/icons/donate-dot.svg" />
                    <div class="donate-name-content"><a class="textc">Возможность установки плащей  "для выше перечисленных"</a></div>

                </div>

                <div class="donate-list-content">

                    <img id="mvp-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">MVP — 12.000 кристаликов</a></div>

                    <img id="mvpplus-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">MVP+ — 18.000 кристаликов</a></div>

                    <img id="emerald-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">EMERALD — 25.000 кристаликов</a></div>

                    <img id="sponsor-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">SPONSOR — 30.000 кристаликов</a></div>

                    <img id="he_topt-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">HE_TOPT — 50.000 кристаликов</a></div>

                    <img id="god-icon" class="donate-status-icon donate-not-buy" src="/content/images/icons/donate-status-buy.svg" />
                    <div class="donate-name-content"><a class="textb">GOD — 100.000 кристаликов</a></div>

                    <img class="donate-dot-status-icon donate-not-buy" src="/content/images/icons/donate-dot.svg" />
                    <div class="donate-name-content"><a class="textc">Возможность смены цвета ника  "для выше перечисленных"</a></div>

                </div>
            </div>

        </div>
    </div>
</main>

<script type="text/javascript" src="/content/js/donate.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
<script type="text/javascript">
    let lastUsernameValue = undefined;

    function setIconData(id, toggled) {
        if (toggled) {
            $('#' + id).removeClass('donate-not-buy');
            $('#' + id).attr('src', '/content/images/icons/donate-status.svg');
        } else {
            $('#' + id).addClass('donate-not-buy');
            $('#' + id).attr('src', '/content/images/icons/donate-status-buy.svg');
        }
    }

    function resetIcons() {
        $('.donate-status-icon').attr('src', '/content/images/icons/donate-status-buy.svg');
        $('.donate-status-icon').addClass('donate-not-buy');
    }
    $(document).ready(() => {
        var value = $('#username-input').val();
        if (value.length !== 0) {
            $.post('/api/cabinet/hot_data', {
                username: value.toLowerCase()
            }, (data) => {
                resetIcons();
                if (!data.success) {
                    return;
                }

                var res = data.result;
                var css = ((+res.percent) * 100) + '%';
                $('#old-group').text(res.display_donate_group.name + (res.display_donate_group.plus ? '+' : ''));
                $('#next-group').text(res.next_group_name);
                $('#crystals-count').text('Кристаликов: ' + res.total_gold + ' из ' + res.next_gold_group);
                $('.balance-line').css('width', css);
                var groups = res.groups;
                for (let i = 0; i < groups.length; i++) {
                    setIconData(groups[i].toLowerCase().replace('+', 'plus') + '-icon', true);
                }
            });
        }
    });
</script>
{% endblock %}