{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Страница помощи">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/info">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/info.png">
<meta name="twitter:card">{% endblock %} {% block content %}

<div class="content-block-opis">
    <div class="img-article background-info" src="/content/images/img/sp.png">
        <dev class="img-article-heading"><a class="img-article-text">Страница помощи<br>
			<a class="img-article-rider"></a>
            </a>
            </br>

        </dev>
    </div>
    <div class="content-block-grid">


        <div class="text-article">

            <a class="texta"> Немного о проекте. </a></br>
            <a class="textb"> Cristalix — это игровой проект, посвящённый различным развлекательным серверам на базе
				Minecraft.</a> </br>
            </br>

            <a class="texta"> Во что тут можно поиграть? </a></br>
            <a class="textb">
				На нашем проекте существуют десятки мини режимов, а также целый ряд серверов с интересными
				модификациями. Подробную информацию о них вы сможете найти (тут).</a></br>
            </br>

            <a class="texta">Игровые проблемы. </a></br>

            <a class="texta">Я получил несправедливое наказание!</a> </br>
            <a class="textb">
				В данном случае стоит создать тему в разделе «обжалование наказаний» форума. В заявке обязательно
				укажите ник того, кто выдал наказание, приложите скриншот, доказывающий вашу невиновность
				постарайтесь подробно описать произошедшую ситуацию.</a> </br>
            </br>

            <a class="texta">Игрок нарушает правила! </a></br>
            <a class="textb">
				Создайте тему в разделе «жалобы на игроков», укажите в ней никнейм нарушителя, приложите скриншот
				или видео с нарушением и опишите ситуацию. </a></br>
            </br>

            <a class="texta">Персонал нарушает правила! </a></br>
            <a class="textb">
				Конечно, мы доверяем нашему персоналу, но бывают разные ситуации. Если случилось что-то подобное, то
				вам следует перейти на форум в раздел «жалобы на персонал», создать тему, указать ник нарушителя,
				приложить скриншот или видео с нарушением. </a></br>
            </br>

            <a class="texta">Проблемы с платными услугами. </a></br>
            </br>
            <a class="texta">Я осуществил покупку, но она не произошла! </a></br>
            <a class="textb">В таком случае вам следует незамедлительно обратиться в сообщения нашей группы вк, или
				непосредственно с Администрацией.</a></br>

            <a class="texta">У меня изменился баланс, хотя я ничего не делал.</a> </br>
            <a class="textb">
				Напишите свой ник в сообщения группы и сообщите о произошедшем, мы проведём проверку. </a></br>
            </br>


            <a class="texta">Почему мне не восстановили деньги после вайпа или отката? </a></br>
            <a class="textb"> К сожалению, некоторые события, такие как вайп, как правило, не подразумевают
				восстановления потраченных средств с целью поддержания здоровой конкуренции между игроками.</a>
            </br>
            </br>

            <a class="texta">Я нашёл ошибку, что мне делать? </a></br>

            <a class="textb"> Если вы обнаружили ошибку, не влияющую на безопасность сервера и игроков, сообщите от
				ней в соответствующий раздел на форуме. </br>
				Если же вы обнаружили критическую уязвимость на сервере и считаете, что о ней нельзя писать на
				форуме во избежание массовой эксплуатации, сообщите Администрации лично. </br>
				Контакты разработчиков указаны в списке персонала на форуме. </a></br>
            </br>

            <a class="texta">Хочу быть частью вашей команды.</a> </br>

            <a class="texta">Как стать модератором? </a></br>

            <a class="textb"> Прежде чем стать модератором, нужно какое-то время побыть хелпером или стажёром. Для
				вступления в ряды персонала Cristalix прочитайте ознакомительную тему на форуме. </a></br>
            </br>





            <a class="texta">Как стать билдером?</a> </br>

            <a class="textb">Если вы уверены в своих умениях и мастерстве строительства, то можете заполнить форму
				на вступление в ряды билдеров проекта. Вся нужная информация находится о вступлении находится,
				соответственно, на форуме.</a> </br>
            </br>

            <a class="texta">Как стать разработчиком? </a></br>

            <a class="textb">В данный момент набор в разработчики не производится. Однако, если вы обладаете
				какими-то уникальными навыками и значительным опытом разработки проектов на Java, напишите об себе
				как можно подробнее в сообщения группы, мы рассмотрим вашу кандидатуру, и дадим обратную связь.</a>
            </br>
            </br>

            <a class="texta">В этом разделе нет ответа на мой вопрос!</a> </br>
            <a class="textb">Невозможно ответить на все возникающие у игрока вопросы, НО! К вашему благу, у нашего
				проекта есть свой форум, что фигурировал во всех вышеперечисленных пунктах. </br>
				На нашей платформе форума вы вольны высказаться, и задать все интересующие вопросы в соответствующих
				разделах. </a></br>
            </br>
        </div>
        <div class="column-info ux-pc">{{ include('column.html') }} </div>

        <div class="column-info ux-m">{{ include('column.html') }} </div><br>
    </div>
</div>
{% endblock %}