{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Лаунчер">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/launcher">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/launcher.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/launcher.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/launcher.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div class="block left-block background-launcher-1">
            <div class="launcher-block-text"><a class="texta re-head">Лаунчер для Windows</a></div>
            <img class="launcher-icon" src="/content/images/icons/w-launcher.svg">
            <button id="WLauncher" onclick="" class="HOVER launcher-btn"><span></span>
                <text class="textb">Скачать</text>
            </button>



        </div>

        <div class="block right-block background-launcher-2">
            <div class="launcher-block-text"><a class="texta re-head">Лаунчер для любой ОС</a></div>
            <img class="launcher-icon" src="/content/images/icons/jar-launcher.svg">
            <button id="JarLauncher" onclick="" class="HOVER launcher-btn"><span></span>
                <text class="textb">Скачать</text>
            </button>
        </div>

        <div class="block-horizontal-banner">
            <div class="launcher-block-info">
                <a class="textb linktext" href="/info/launcherhelper">Решение возможных проблем с лаунчером</a>
            </div>
            <div class="launcher-block-info">
                <a class="textb linktext" href="https://www.java.com/ru/">Java для лаунчера</a>
            </div>
        </div>

    </div>




</main>
{% endblock %}