{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Начать играть">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/play">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <div id="play-registration" class="block-horizontal background-play-1">
            <div class="play-block">
                <div class="play-text-box">
                    <a class="texta ">
                        1. Как начать играть?
                    </a></br>
                    <button class="HOVER play-btn" onclick="window.location.href='/register'">
                            <span class="HOVERFIX"> </span>
                                <text class="textb">
                                    Зарегистрируйтесь 
                                </text>
                        </button>

                    <img class="play-icon-animation" src="/content/images/icons/anime-icon-reg.svg">
                </div>
            </div>
        </div>
        <div id="play-rule" class="block-horizontal background-play-2">
            <div class="play-block">
                <div class="play-text-box">
                    <a class="texta">
                        2. Ознакомьтесь с правилами
                    </a>
                    <br />
                    <button class="HOVER play-btn" onclick="window.location.href='/info/role'">
                        <span class="HOVERFIX"> </span>
                            <text class="textb">
                                Правила проекта
                            </text>
                    </button>

                    <img class="play-icon-animation" src="/content/images/icons/anime-icon-rule.svg">
                </div>
            </div>
        </div>
        <div id="play-launcher" class="block-horizontal background-play-3">
            <div class="play-block">
                <div class="play-text-box">
                    <a class="texta">
                        3. Скачайте и запустите лаунчер 
                    </a>
                    <br />
                    <button class="HOVER play-btn" onclick="window.location.href='/launcher'">
                        <span class="HOVERFIX"> </span>
                            <text class="textb">
                                Скачать лаунчер
                            </text>
                    </button>


                    <img class="play-icon-animation" src="/content/images/icons/anime-icon-download.svg">
                </div>
            </div>
        </div>
        <div id="play-support" class="block-horizontal background-play-4">
            <div class="play-block">
                <div class="play-text-box">
                    <a class="texta">
                        4. Возникли вопросы ?
                    </a>
                    <br />
                    <button class="HOVER play-btn" onclick="window.location.href='/info'">
                        <span class="HOVERFIX"> </span>
                            <text class="textb">
                                Страница помощи
                            </text>
                    </button>
                    <img class="play-icon-animation" src="/content/images/icons/anime-icon-help.svg">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}