{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="восстановление">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/play">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/play.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<div class="single-row">
    <div class="block background-recovery-1">
        <div class="centered-text">
            <a class="textb">Cброс пароля</a>
        </div>
        <div>
            <form>
                <input autofocus="" class="recovery-mail-ent inputy" name="email" id="email-input" placeholder="E-Mail" required="" type="email" value="" />

                <div class="tooltip-red-left flash-error" id="email-error-block">
                    <element width="150px;">
                        <div id="email-error" class="tooltip-text-cntr"></div>
                    </element>
                </div>

                <button onclick="" class="HOVER register-button" id="recovery-button"><span></span>
                    <text class="textb">Продолжить</text>
                </button>
            </form>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld6jWcaAAAAAArgu8eF5Dlltmc4IQkoXW7m6dJD"></script>
<script type="text/javascript" src="/content/js/recovery.js"></script>
{{ include('recaptcha.html') }} {% endblock %}