{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Сервера">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/servers">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/servers.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<main>
    <div class="row clearfix">
        <!--Мини Игры-->
        <div class="block left-block background-minigames-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/minigames.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/minigames.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/minigames'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/minigames/">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          MiniGames
        </a>

            </div>
        </div>

        <!--DivinePVP-->

        <div class="block right-block background-divinepvp-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/divinepvp.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/divinepvp.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/divinepvp'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/divinepvp">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          DivinePVP
        </a>

            </div>
        </div>

        <!--SkyVoid-->

        <div class="block left-block background-skyvoid-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/skyvoid.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/skyvoid.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/skyvoid'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/skyvoid">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          SkyVoid
        </a>

            </div>
        </div>

        <!--Magica-->

        <div class="block right-block background-magica-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/magica.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/magica.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/magica'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/magica">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          Magica
        </a>

            </div>
        </div>

        <!--NeoTech-->
        <div class="block left-block background-neotech-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/neotech.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/neotech.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/neotech'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/neotech">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          NeoTech
        </a>

            </div>
        </div>

        <!--TechnoMagic-->

        <div class="block right-block background-technomagic-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/technomagic.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/technomagic.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/technomagic'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/technomagic">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          TechnoMagic
        </a>

            </div>
        </div>

        <!--Pixelmon-->

        <div class="block left-block background-pixelmon-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/pixelmon.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/pixelmon.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/pixelmon'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/pixelmon">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          Pixelmon
        </a>

            </div>
        </div>



        <!--RPGParfeon-->

        <div class="block right-block background-rpgparfeon-1">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/rpgparfeon.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/rpgparfeon.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/rpgparfeon'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/rpgparfeon">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          RPG Parfeon
        </a>

            </div>
        </div>


        <!--galax-->
        <div class="block left-block background-galax-1 ">
            <div>
                {% if theme == "light" %}
                <img class="server-logo" src="/content/images/servers/light/galax.svg" />{% else %}
                <img class="server-logo" src="/content/images/servers/galax.svg" />{% endif %}
                <button class="HOVER server-list-btn" onclick="window.location.href='/servers/galax'">
                    <span class=""> </span>
                    <text class="textb">
            Подробнее
          </text>
                </button>
            </div>

            <div>
                <a class="tooltip-left flash-info" href="/info/servers/galax">
                    <element width="150px;">Справка</element><img src="/content/images/nav/help.svg" />
                </a>

                <a class="server-name-list textb">
          ONLINE
        </a>

                <a class="server-state texta">
          Galax
        </a>

            </div>
        </div>



        <div class="block right-block aggregate background-galax-2">
            <div>
            </div>
        </div>
    </div>
</main>
{% endblock %}