{% extends "base.html" %} {% block title %}Вход - {% endblock %} {% block og %}
<meta property="og:title" content="Вход">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/cabinet/login">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/login.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/login.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/login.png">
<meta name="twitter:card">{% endblock %} {% block content %}
<div id="modal-frame" class="re-frame2">
    <div id="otp-modal" class="vanish re-bg">
        <div class="block-login-2fa">
            <div class="full-block-text"><a class="texta re-head">Введите код двухфакторной аутентификации</a></div>

            <input id="otp-input-field" class="inputy-block inputy" name="" placeholder="Код из приложения" required="" type="text" />

            <button id="confirm-otp-btn" class="HOVER re-enter"><span></span>
                <text class="textb">Продолжить</text>
            </button>
            <button id="close-otp-modal-button" class="HOVER re-enter-next delete_re"><span
                    style=" background:var(--carmine-dark);"></span>
                <text class="textb">Закрыть</text>
            </button>
        </div>
    </div>
</div>
<div class="single-row">
    <div class="block background-login">
        <div class="centered-text">
            <span class="textb reglog-link" style="color: var(--placeholder)">
                    Вход
                </span>
            <span class="textb" style="color:var(--white)">|</span>
            <a class="textb linktext reglog-link" href="/register">
                    Регистрация
                </a>
        </div>
        <form>
            <input autofocus="" class="login inputy" id="username-input" name="username" placeholder="Никнейм или E-Mail" required="" type="text" value="" />
            <input class="password inputy" id="password-input" name="password" placeholder="Пароль" required="" type="password" />
            <input class="password inputy" id="otp-input" name="otp" placeholder="Код 2FA" type="text" hidden="" />
            <div class="options-list">
                <button class="HOVER login-button" id="login-button" disabled="">
                    <span>
                    </span>
                    <text class="textb">
                        Войти
                    </text>
                </button>
                <div class="centered-text forgot-password-block">
                    <a class="textb linktext" href="/recovery">
                        Забыли пароль?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld6jWcaAAAAAArgu8eF5Dlltmc4IQkoXW7m6dJD"></script>
<script type="text/javascript" src="/content/js/login.js"></script>
<script type="text/javascript" src="/content/js/tray.js"></script>
{{ include('recaptcha.html') }} {% endblock %}