{% extends "base.html" %} {% block title %}{% endblock %} {% block og %}
<meta property="og:title" content="Редактор">
<meta property="og:type" content="website">
<meta property="og:url" content="//www.cristalix.ru/account">
<meta property="og:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta itemprop="image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:image" content="//{{ include('domen.html') }}/content/images/title/general.png">
<meta name="twitter:card">{% endblock %} {% block content %}

<div class="account-editor-block">
    <div class="full-block-text"><a class="texta">Информация о пользователе</a></div><br>

    <div class="account-container">
        <div class="pole-text"><a class="textb">Login, email or #id</a></div>
        <div class="pole-container">
            <form action="https://{{ include('domen.html') }}/api/admin/search" method="POST">
                <input autofocus="" class="pole-account inputy" id="search_text" name="search_text" placeholder="" required="" type="text" value="{{search_text}}" />
                <button class="account-btn" type="submit">ок</div>
            </form>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">FIield</a></div>
            <div class="pole-text"><a class="textb">{FIield}</a></div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">id</a></div>
            <div class="pole-text"><a class="textb">{{id}}</a></div>
            <div class="account-btn">Сгенерить</div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">username</a></div>
            <div class="pole-text"><a class="textb">{{username}}</a></div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">email</a></div>
            <div class="pole-container">
                <input autofocus="" class="pole-account inputy" name="mail" placeholder="пошта" required="" type="text" value="{{email}}" />
                <div class="account-btn">ок</div>
            </div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">Banned</a></div>
            <div class="pole-text"><a class="textb">{Banned}</a></div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">Group</a></div>
            <div class="pole-container">

                <div class="formdown gender-register">
                    <div class="dropdown gender">
                        <div class="select gender">
                            <span>
				Игрок
          </span>
                        </div>
                        <input name="gender" type="hidden" value="male" />
                        <ul class="dropdown-menu">
                            <li id="player">
                                Игрок
                            </li>
                            <li id="tester">
                                Тестер
                            </li>
                            <li id="youtube">
                                YouTube
                            </li>
                            <li id="helper">
                                Хелпер
                            </li>
                            <li id="moder">
                                Модератор
                            </li>
                            <li id="stmoder">
                                СТ. Модератор
                            </li>
                            <li id="curator">
                                Куратор
                            </li>
                            <li id="admin">
                                Администратор
                            </li>
                            <li id="dev">
                                Разработчик
                            </li>
                            <li id="owner">
                                OWNER
                            </li>
                            <li id="stbuilder">
                                Ст. Строитель
                            </li>
                            <li id="builder">
                                Строитель
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="account-btn">ок</div>
            </div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">Donate</a></div>
            <div class="pole-text"><a class="textb">{donate}</a></div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">Money</a></div>
            <div class="pole-container">
                <input autofocus="" class="pole-account inputy" name="money" placeholder="валюта" required="" type="number" value="{{money}}" />
                <div class="account-btn">ок</div>
            </div>
            <div class="pole-text"><a class="textb"></a></div>
        </div>

        <div class="account-container">
            <div class="pole-text"><a class="textb">Bonus</a></div>
            <div class="pole-container">
                <input autofocus="" class="pole-account inputy" name="bonus" placeholder="валюта" required="" type="number" value="{{bonus}}" />
                <div class="account-btn">ок</div>
            </div>
        </div>
<!--
        <div class="account-container">
            <div class="pole-text"><a class="textb">score</a></div>
            <div class="pole-text"><a class="textb">{{score}}</a></div>
        </div>
-->
        <div class="account-container">
            <div class="pole-text"><a class="textb">Total Money</a></div>
            <div class="pole-text"><a class="textb">{{total_money}}</a></div>
        </div>
    </div>

    
    <style>
        footer {
            visibility: hidden;
        }
    </style>
    {% endblock %}