  .discord-name {
      text-transform: uppercase;
  }
  
  .discord-widget {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  
  .discord-widget div,
  .discord-widget span,
  .discord-widget applet,
  .discord-widget object,
  .discord-widget iframe,
  .discord-widget h1,
  .discord-widget h2,
  .discord-widget h3,
  .discord-widget h4,
  .discord-widget h5,
  .discord-widget h6,
  .discord-widget p,
  .discord-widget blockquote,
  .discord-widget pre,
  .discord-widget a,
  .discord-widget abbr,
  .discord-widget acronym,
  .discord-widget address,
  .discord-widget big,
  .discord-widget cite,
  .discord-widget code,
  .discord-widget del,
  .discord-widget dfn,
  .discord-widget em,
  .discord-widget img,
  .discord-widget ins,
  .discord-widget kbd,
  .discord-widget q,
  .discord-widget s,
  .discord-widget samp,
  .discord-widget small,
  .discord-widget strike,
  .discord-widget strong,
  .discord-widget sub,
  .discord-widget sup,
  .discord-widget tt,
  .discord-widget var,
  .discord-widget b,
  .discord-widget u,
  .discord-widget i,
  .discord-widget center,
  .discord-widget dl,
  .discord-widget dt,
  .discord-widget dd,
  .discord-widget ol,
  .discord-widget ul,
  .discord-widget li,
  .discord-widget fieldset,
  .discord-widget form,
  .discord-widget label,
  .discord-widget legend,
  .discord-widget table,
  .discord-widget caption,
  .discord-widget tbody,
  .discord-widget tfoot,
  .discord-widget thead,
  .discord-widget tr,
  .discord-widget th,
  .discord-widget td,
  .discord-widget article,
  .discord-widget aside,
  .discord-widget canvas,
  .discord-widget details,
  .discord-widget embed,
  .discord-widget figure,
  .discord-widget figcaption,
  .discord-widget footer,
  .discord-widget header,
  .discord-widget hgroup,
  .discord-widget menu,
  .discord-widget nav,
  .discord-widget output,
  .discord-widget ruby,
  .discord-widget section,
  .discord-widget summary,
  .discord-widget time,
  .discord-widget mark,
  .discord-widget audio,
  .discord-widget video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: middle;
  }
  /* HTML5 display-role reset for older browsers */
  
  .discord-widget article,
  .discord-widget aside,
  .discord-widget details,
  .discord-widget figcaption,
  .discord-widget figure,
  .discord-widget footer,
  .discord-widget header,
  .discord-widget hgroup,
  .discord-widget menu,
  .discord-widget nav,
  .discord-widget section {
      display: block;
  }
  
  .discord-widget body {
      line-height: 1;
  }
  
  .discord-widget ol,
  .discord-widget ul {
      list-style: none;
  }
  
  .discord-widget blockquote,
  .discord-widget q {
      quotes: none;
  }
  
  .discord-widget blockquote:before,
  .discord-widget blockquote:after,
  .discord-widget q:before,
  .discord-widget q:after {
      content: '';
      content: none;
  }
  
  .discord-widget table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
   ::-moz-scrollbar-track {
      -webkit-border-radius: 10px !important;
      border-radius: 10px !important;
      background: rgba(0, 0, 0, 0);
  }
  
   ::-webkit-scrollbar-track {
      -webkit-border-radius: 10px !important;
      border-radius: 10px !important;
      background: rgba(0, 0, 0, 0);
  }
  
  .discord-widget {
      font-family: 'Montserrat', sans-serif;
      font-weight: Semi-Bold;
      background: var(--cyan-black);
      color: var(--white);
      text-align: left;
      padding: 5px 15px 0px 15px;
      margin: 4px;
      font-size: 12px;
      font-weight: 500;
      position: relative;
      border: 3px solid var(--cyan-black);
      border-width: 0;
      border-top-width: 3px;
      box-sizing: border-box;
  }
  
  span.discord-error {
      color: red;
      font-size: 1.25em;
  }
  
  .discord-fade {
      pointer-events: none !important;
      position: absolute;
      top: 35px;
      bottom: 0;
      left: 0;
      width: 100%;
      background: var(--vanish);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#002a2a2a', endColorstr='#2a2a2a', GradientType=1);
  }
  
  .discord-title {
      margin: -15px!important;
      margin-bottom: 5px!important;
      height: 32px;
      line-height: 32px!important;
      background-color: var(--vanish);
      border: solid 1px var(--vanish) !important;
      padding-left: 10px!important;
      font-weight: bold!important;
      font-size: 1.17em!important;
  }
  
  .discord-tree {
      padding-left: 0;
      margin-top: 24px;
      margin-bottom: 0;
      list-style-type: none !important;
      display: block;
  }
  
  .discord-channel {
      font-weight: bold!important;
      list-style-type: none !important;
      padding-left: 0;
      visibility: hidden;
      height: 0px;
  }
  
  .discord-userlist {
      list-style-type: none !important;
  }
  
  .discord-user {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
  }
  
  .discord-user span {
      font-size: 0.8em;
      opacity: 0.5;
  }
  
  .discord-user-status {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: pink;
      border-radius: 50%;
      border: solid thin var(--white)!important;
      border-color: var(--cyan-black)!important;
      top: 14px;
      left: 14px;
  }
  
  .discord-online {
      background-color: var(--green);
  }
  
  .discord-idle {
      background-color: var(--mustard);
  }
  
  .discord-avatar {
      border-radius: 100%;
      width: 24px;
      height: 24px;
      border: solid 2px var(--white) !important;
      border-color: var(--cyan-black) !important;
      display: inline;
      margin-right: 5px!important;
      vertical-align: middle;
  }
  
  .discord-allusers-toggle {
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .discord-users-online {
      font-size: 1em!important;
      margin: 10px 10px 0 0!important;
      text-align: right;
  }
  
  .discord-join {
      position: relative;
      width: 100%;
      height: 30px;
      text-align: center;
      margin: 10px 0 -5px 0!important;
      line-height: 30px!important;
      z-index: 2;
      color: white;
      background-color: rgba(0, 0, 0, 0);
  }
  
  .discord-join a {
      color: #fff;
      text-decoration: none;
  }
  
  .discord-join:hover {
      background-color: rgba(0, 0, 0, 0);
  }