/*
###########################################
###########################################
###########################################
###########################################
#############|#############//|#############
###########|///|#########|/////|###########
#########|///////|#####|/////////|#########
#######|///////////|###|///////////########
#####|///////////////|###|//////|##//|#####
###|///////////////////|###|//|##|/////|###
#|///////////////////////|######/////////|#
#|////////////////////////|####|//////////|
###|////////////////////|##//|###|//////|##
#####|////////////////|##//////|###///|####
#######|////////////|##//////////|#########
#########|////////|###||//////////|########
###########|////|#######||//////|##########
#############||###########/|//|############
############################|##############
###########################################
################CRISTALIX##################
###########################################
*/

:root {
    --black: #000000;
    --soft-gray: #282828;
    --gray: #2e2e2e;
    --graphite: #222222;
    --light-gray: #303030;
    --gray-line: #3A3B3D;
    --gray-dark: #202020;
    --white: #ffffff;
    --cyan-black: #101313;
    --brand-color: #2A66BD;
    --brand-color-scroll: rgba(24, 132, 237, 0.24);
    --brand-color-dark: #275495;
    --cookie-panel: #1f58ab;
    --carmine-dark: #a01d28;
    --mustard: #D4A11F;
    --green: #239544;
    --light-selection: #9d9d9d;
    --placeholder: #797979;
    --vanish: rgba(0, 0, 0, 0);
    --light-vanish: rgba(255, 255, 255, 0);
    --color-article-hover: rgba(255, 255, 255, 0.1);
    --color-article-active: rgba(255, 255, 255, 0.2);
    --blackout: rgba(29, 29, 29, 0.94);
    --substrate: rgb(255, 255, 255, 0.60);
    --links: rgba(255, 255, 255, 0.72);
    --down: #9d9d9d;
    /*Настройки*/
    --bg-settings: rgba(28, 21, 36, 0.9);
    --bg-settings-border: rgba(201, 135, 255, 0.10);
    /*Донат*/
    --bg-donate: rgba(36, 21, 21, 0.42);
    --bg-donate-border: rgba(255, 135, 135, 0.10);
    /*Главная*/
    --bg-general: rgba(21, 21, 36, 0.42);
    --bg-general-border: rgba(135, 178, 255, 0.10);
    /*Сервера*/
    --bg-servers: rgba(16, 19, 19, 0.42);
    --bg-servers-border: rgba(16, 19, 19, 0.10);
    --line-servers: rgba(147, 147, 147, 0.7);
    /*Минискролл*/
    --mini-scroll: rgba(255, 255, 255, 0.24);
    /*Тени*/
    --shadows: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
    --shadows-lite: 0 0px 6px 0px rgba(0, 0, 0, 0.3);
    --shadows-vanish: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

.icon-theme {}


/*
var(--shadows-lite);
var( --shadows-vanish);
var(--bg-settings);
var(1231);
var(--graphite);
var(--shadows);
var(--vanish);
var(--white);
var(--black);

var(--gray-line);
var(--green);
var(--green);
var(--cyan-black);
*/

.background-donate-1 {
    background-image: url("/content/images/minese/donate.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-donate-2 {
    background-image: url("/content/images/minese/donate2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
    padding: 20px;
}

.background-donate-3 {
    background-image: url("/content/images/minese/donate3.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-banner {
    background-image: url("/content/images/minese/banner.png");
    background-size: 1390px 120px;
    background-position: 1390px;
}

.background-home {
    background-image: url("/content/images/minese/home.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-home2 {
    background-image: url("/content/images/minese/home2.png");
    background-size: 680px 890px;
    background-position: 0px 0px;
}

.background-home3 {
    background-image: url("/content/images/minese/home3.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-home4 {
    background-image: url("/content/images/minese/home4.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-home5 {
    background-image: url("/content/images/minese/home5.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-minigames-1 {
    background-image: url("/content/images/minese/minigames.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-minigames-2 {
    background-image: url("/content/images/minese/minigames2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-divinepvp-1 {
    background-image: url("/content/images/minese/divinepvp.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-divinepvp-2 {
    background-image: url("/content/images/minese/divinepvp2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-skyvoid-1 {
    background-image: url("/content/images/minese/skyvoid.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-skyvoid-2 {
    background-image: url("/content/images/minese/skyvoid2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-magica-1 {
    background-image: url("/content/images/minese/magica.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-magica-2 {
    background-image: url("/content/images/minese/magica2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-neotech-1 {
    background-image: url("/content/images/minese/neotech.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-neotech-2 {
    background-image: url("/content/images/minese/neotech2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-technomagic-1 {
    background-image: url("/content/images/minese/technomagic.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-technomagic-2 {
    background-image: url("/content/images/minese/technomagic2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-pixelmon-1 {
    background-image: url("/content/images/minese/pixelmon.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-pixelmon-2 {
    background-image: url("/content/images/minese/pixelmon2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-rpgparfeon-1 {
    background-image: url("/content/images/minese/rpgparfeon.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-rpgparfeon-2 {
    background-image: url("/content/images/minese/rpgparfeon2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-minez-1 {
    background-image: url("/content/images/minese/minez.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-minez-2 {
    background-image: url("/content/images/minese/minez2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-galax-1 {
    background-image: url("/content/images/minese/galax.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-galax-2 {
    background-image: url("/content/images/minese/galax2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-launcher-1 {
    background-image: url("/content/images/minese/launcher.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-launcher-2 {
    background-image: url("/content/images/minese/launcher2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-play-1 {
    background-image: url("/content/images/minese/play.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-play-2 {
    background-image: url("/content/images/minese/play2.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-play-3 {
    background-image: url("/content/images/minese/play3.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-play-4 {
    background-image: url("/content/images/minese/play4.png");
    background-size: 1390px 430px;
    background-position: 0px 0px;
}

.background-error-1 {
    background-image: url("/content/images/minese/error.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-error-2 {
    background-image: url("/content/images/minese/error1.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-error-3 {
    background-image: url("/content/images/minese/error2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-login {
    padding: 20px;
    height: 350px;
    background-image: url("/content/images/minese/log1.png");
    background-size: 680px 350px;
    background-position: 0px 0px;
}

.background-login:hover {
    background-size: 780px 401px;
    background-position: -50px -25px;
}

.background-register {
    padding: 20px;
    height: 590px;
    background-image: url("/content/images/minese/reg1.png");
    background-size: 680px 650px;
    background-position: 0px 0px;
}

.background-register:hover {
    background-size: 780px 746px;
    background-position: -50px -48px;
}

.background-recovery-1 {
    padding: 20px;
    height: 230px;
    background-image: url("/content/images/minese/rec1.png");
    background-size: 680px 230px;
}

.background-recovery-1:hover {
    background-size: 780px 264px;
    background-position: -50px -17px;
}

.background-recovery-2 {
    padding: 20px;
    height: 330px;
    background-image: url("/content/images/minese/rec2.png");
    background-size: 680px 330px;
}

.background-recovery-2:hover {
    background-size: 780px 379px;
    background-position: -50px -24px;
}

.background-cabinet-1 {
    background-image: url("/content/images/minese/cab1.png");
    background-size: 680px 890px;
    background-position: 0px 0px;
}

.background-cabinet-2 {
    background-image: url("/content/images/minese/cab2.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-cabinet-3 {
    background-image: url("/content/images/minese/cab3.png");
    background-size: 680px 430px;
    background-position: 0px 0px;
}

.background-info {
    background-image: url("/content/images/minese/info.png");
    background-size: cover;
}

.register-block {
    background-image: url("/content/images/minese/reg1.png");
}

.access-block {
    background-image: url("/content/images/minese/home3.png");
}

.widget-head-vk {
    background-image: url("/content/images/minese/vk-bg.png");
}

.widget-head-vk {
    background-image: url("/content/images/minese/vk-bg.png");
}

.widget-head-discord {
    background-image: url("/content/images/minese/discord-bg.png");
}