/*
body{
transform: rotateY(180deg);
}
###########################################
###########################################
###########################################
###########################################
#############|#############//|#############
###########|///|#########|/////|###########
#########|///////|#####|/////////|#########
#######|///////////|###|///////////########
#####|///////////////|###|//////|##//|#####
###|///////////////////|###|//|##|/////|###
#|///////////////////////|######/////////|#
#|////////////////////////|####|//////////|
###|////////////////////|##//|###|//////|##
#####|////////////////|##//////|###///|####
#######|////////////|##//////////|#########
#########|////////|###||//////////|########
###########|////|#######||//////|##########
#############||###########/|//|############
############################|##############
###########################################
################CRISTALIX##################
###########################################
html {
    filter: blur(20px);
    visibility: hidden;
}
img {
    pointer-events: none;
}
*/

*::selection {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    background: var(--light-selection);
}

 :active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}

body {
    z-index: 2;
    background-color: var(--soft-gray);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: Semi-Bold;
    -webkit-font-smoothing: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    height: 100%;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}


/* Отключение стрелочек для ипутов */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

a,
span,
div {
    text-decoration: none;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--white);
}

header {
    margin-bottom: 80px;
}

.menu-wrapper-block {
    z-index: 100;
    height: fit-content;
    padding-top: 20px;
    user-select: none;
}

.menu-block {
    width: max-content;
    height: 50px;
    margin: 0px auto;
    font-weight: 500;
}

.menu-logo {
    height: 40px;
    margin-top: 0px;
    margin-right: 5px;
    float: left;
    transition: 0.2s;
    pointer-events: unset;
}

.menu-logo:hover {
    opacity: 0.6;
    transition: 0.15s;
}

.menu-logo-item {
    margin-right: 20px;
}

.menu-item {
    display: inline-block;
    margin-top: 4px;
    height: 46px;
    box-sizing: border-box;
    padding: 5px 8px;
    color: var(--white);
}

.menu-item {
    border-bottom: 0px solid var(--light-gray);
    transition: 0.15s;
}

.menu-item:hover {
    border-bottom: 2px solid var(--brand-color);
    ;
}

.menu-item-active {
    border-bottom: 2px solid var(--white);
}

.menu-item-active:hover {
    border-bottom: 2px solid var(--white);
}

.copyright {
    line-height: 180%;
    text-align: center;
    color: var(--white);
    margin-top: 30px;
    margin-bottom: 30px;
}


/* виджет новостей */

.newglobwif {
    border-radius: 22px;
}

#vk_article_-181858795 {
    border-radius: 7px;
}

.globnews {
    position: absolute;
    top: 7px;
    border-radius: 7px;
    text-align: center;
}

.newmc {
    border-radius: 7px;
    position: relative;
    left: 50%;
    margin-right: 50%;
    text-align: center;
}


/*кнопки*/

@keyframes shake {
    25% {
        transform: rotate(calc(var(--angle) * -1));
    }
    50% {
        transform: rotate(var(--angle));
    }
    100% {
        transform: rotate(0deg);
    }
}

.texb {
    color: var(--white);
    height: 59px;
    width: 269px;
    margin-left: 1px;
    text-decoration: none;
}

.HOVER {
    font-family: 'Montserrat', sans-serif;
    z-index: 20;
    cursor: pointer;
    --width: 102%;
    --time: 0.8s;
    position: absolute;
    display: inline-block;
    height: 41px;
    width: 170px;
    text-align: center;
    color: var(--white);
    padding: 4px 12px 0px 12px;
    background: var(--gray);
    overflow: hidden;
    border-radius: 9px;
    text-decoration: none;
    transition: 0.2s;
}

.HOVER text {
    float: none;
    position: relative;
    z-index: 5;
    transition: color var(--time);
    text-decoration: none;
    top: -2px;
}

.HOVER:hover text {
    color: var(--white);
    text-decoration: none;
}

.HOVER span {
    margin: 0px;
    padding: 0px;
    float: none;
    border-radius: 50%;
    position: absolute;
    display: flex;
    content: "";
    z-index: 0;
    width: 0px;
    height: 0px;
    background: var(--brand-color);
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
    text-decoration: none;
}

.HOVER:hover span {
    width: calc(var(--width)*5.25);
    padding-top: calc(var(--width)* 5.25);
    text-decoration: none;
}

.HOVER:hover {
    transition: 0.2s;
    background-color: var(--brand-color);
}

.HOVER.FLASH:hover text {
    color: var(--white);
    text-decoration: none;
}

.HOVER.FLASH span {
    background: #ff3b3b;
    text-decoration: none;
}

.animated {
    --angle: 10deg;
    animation: shake 0.3s;
}

.HOVER:active span {
    transition: 0.2s;
    background: var(--brand-color-dark);
}


/* 
.HOVER:hover:disabled {
    background: #A01D28;
}

.HOVER:disabled span {
    background: #A01D28;
}
*/


/* блоки и адаптив */

.row {
    max-width: 1390px;
    width: 1390px;
    margin: 0 auto;
}

.single-row {
    max-width: 680px;
    width: 680px;
    margin: 0 auto;
}

.block-vertical {
    animation-duration: 0.7s;
    animation-name: miniature;
    background-repeat: no-repeat;
    background-size: 680px 890px;
    background-position: 0px 0px;
    transition: 0.2s;
    width: 680px;
    height: 890px;
    margin-bottom: 30px;
    background: var(--cyan-black);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.block-vertical:hover {
    background-size: 780px 1021px;
    background-position: -50px -65px;
}

.block-horizontal {
    background-size: 1390px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    width: 1390px;
    height: 430px;
    margin-bottom: 30px;
    background: var(--cyan-black);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.block-horizontal:hover {
    background-size: 1594px 493px;
    background-position: -102px -31px;
}

.block {
    background-size: 680px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    width: 680px;
    height: 430px;
    margin-bottom: 30px;
    background: var(--cyan-black);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    animation-duration: 1s;
    animation-name: miniature;
    background-repeat: no-repeat;
}

.block:hover {
    transition: 0.2s;
    background-size: 780px 493px;
    background-position: -50px -31px;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-name: miniature;
    background-repeat: no-repeat;
}

.block-horizontal {
    background-size: 1390px 430px;
    background-position: 0px 0px;
    animation-duration: 1s;
    animation-name: miniature;
    background-repeat: no-repeat;
}

.block-banner {
    background-size: 1390px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    z-index: 10;
    width: 1390px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--cyan-black);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    padding: 25px;
}

.block-horizontal-banner {
    background-size: 1390px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    z-index: 10;
    width: 1390px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--cyan-black);
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
    float: left;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    padding: 20px;
}

.launcher-block-info {
    width: 50%;
    height: 80px;
    text-align: center;
    padding-top: 28px;
    box-sizing: border-box;
    display: block;
    float: left;
}

.left-block {
    float: left;
}

.right-block {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.block-invisible {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
}

.block-shadow {
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.invisible-item {
    opacity: 0;
    visibility: hidden;
    transition: 0.3;
}


/* баннер в лс */

.icon-banner {
    margin: 12.5px;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    pointer-events: none;
}

.block-text-banner {
    display: table;
    color: var(--white);
    position: absolute;
    top: 25px;
    height: 70px;
    left: 120px;
    min-width: 300px;
    max-width: 800px;
    margin-right: 200px;
}

.text-banner {
    vertical-align: middle;
    display: table-cell;
}

.btn-banner {
    position: absolute;
    right: 35px;
    top: 40px;
}


/*чекбокс*/

.option-input {
    border: 2px solid var(--graphite);
    background: var(--soft-gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1rem;
    outline: none;
    position: relative;
    z-index: 99;
    border-radius: 3px;
    top: 7px;
    cursor: pointer;
}

.option-input:hover {
    padding: 0px;
    border: 2px solid var(--light-gray);
    border-radius: 3px;
}

.option-input:checked {
    background: var(--brand-color);
    border: 0px solid var(--white);
    border-color: transparent;
    background: var(--brand-color);
    animation: jelly 0.6s ease;
    top: 8px;
}

.option-input:checked::before {
    border-color: transparent;
    background: var(--brand-color);
    ;
    animation: jelly 0.6s ease;
    height: 20px;
    width: 20px;
    position: absolute;
    color: #fff;
    content: '✔';
    display: inline-block;
    font-size: 15px;
    text-align: center;
    line-height: 19px;
    border-radius: 3px;
}

.text-chek {
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.option-input:checked::after {
    border-color: transparent;
    background: var(--brand-color);
    animation: jelly 0.6s ease;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

@-moz-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@-o-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}


/*дорога вёрстка вбиває наших дітей*/

.hidden-xs-up {
    opacity: 0;
    margin-left: 120px;
    top: -20px;
}


/*форма ввода*/

.inputy {
    letter-spacing: 0.8px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    padding: 8px;
    color: var(--white);
    font-size: 16px;
    background-color: var(--gray-dark);
    width: 430px;
    border: solid 2px var(--vanish);
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    transition: 0.7s;
    -webkit-text-fill-color: var(--white);
}

.inputy:HOVER {
    border: solid 2px var(--light-gray);
    color: var(--white);
    transition: 0.7s;
}

.inputy::placeholder {
    -webkit-text-fill-color: var(--placeholder);
    color: var(--placeholder);
}


/*текст и ссылки*/

.text-article {
    color: var(--white);
}

.text-article .textb {
    line-height: 180%;
}

.text-article .texta {
    font-size: 27px;
}

.texta {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.textb {
    font-size: 19px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.textc {
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0.4px;
}

.linktext {
    transition: 0.15s;
    color: var(--links);
    cursor: pointer;
    border-bottom: solid 1px var(--light-vanish);
    ;
    text-decoration: none;
}

.linktext:hover {
    color: var(--white);
    text-decoration: none;
    border-bottom: solid 2px var(--white);
}

.linktext img {
    opacity: 0.72;
    transition: 0.15s;
}

.linktext:hover img {
    opacity: 1;
}


/*скролл*/

 ::-webkit-scrollbar {
    transition: 0.25s;
    width: 8px !important;
    background: var(--vanish);
}


/* Track */

 ::-moz-scrollbar-track {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--vanish);
}

 ::-webkit-scrollbar-track {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--vanish);
}


/* Handle */

 ::-moz-scrollbar-thumb {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--brand-color-scroll) !important;
}

 ::-moz-scrollbar-thumb:hover {
    transition: 0.25s;
    background: var(--brand-color);
}

 ::-webkit-scrollbar-thumb {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--brand-color-scroll) !important;
}

 ::-webkit-scrollbar-thumb:hover {
    transition: 0.25s;
    background: var(--brand-color);
}


/* упс у разрабов мазилы мать умерла как же так...*/

body {
    scrollbar-color: light;
    scrollbar-width: 15px;
}


/*дропы закладки прикопы*/

span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.formdown {
    text-align: center;
    color: var(--white);
}


/*Styling Selectbox*/

.dropdown {
    outline: none;
    width: 430px;
    height: 100%;
    display: inline-block;
    background-color: var(--gray-dark);
    border-radius: 7px;
    position: relative;
    font-size: 16px;
    color: var(--white);
    text-align: left;
    border: solid 2px var(--gray-dark);
    box-sizing: border-box;
}

.dropdown .select {
    height: 20px;
    cursor: pointer;
    display: block;
    padding: 9px;
}

.dropdown .select-hd {
    padding: 6px 9px 12px 9px;
}

.dropdown .select>i {
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    float: right;
    line-height: 20px;
}

.dropdown:hover {
    transition-duration: 0.7s;
    border: solid 2px var(--light-gray);
}

.dropdown:active {
    background-color: var(--gray-dark);
}

.dropdown.active:HOVER,
.dropdown.active {
    background-color: var(--gray-dark);
    border: solid 2px var(--light-gray);
    border-bottom: solid 2px var(--gray-dark);
    border-radius: 7px 7px 0 0;
}

.dropdown.active .select>i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: var(--gray-dark);
    width: 100%;
    margin-left: -2px;
    margin-top: -4px;
    overflow: hidden;
    display: none;
    max-height: 260px;
    overflow-y: auto;
    z-index: 10;
    color: var(--white);
    border: solid 2px var(--light-gray);
    border-top: solid 2px var(--gray-dark);
    border-radius: 0 0 7px 7px;
}

.dropdown .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    color: var(--down);
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
    z-index: 100;
    color: var(--down);
}

.dropdown .dropdown-menu li:hover {
    background-color: var(--brand-color);
    z-index: 100;
    color: var(--white);
}

.dropdown .dropdown-menu li:active {
    background-color: var(--gray-dark);
    z-index: 100;
    color: var(--white);
}


/*ошибки трей*/

#notes {
    margin-top: 60px;
    position: fixed;
    top: 1em;
    width: 100%;
    cursor: default;
    transition: height 0.45s ease-in-out;
    /*    -webkit-transition: height 0.45s ease-in-out;*/
    pointer-events: none;
    z-index: 100000000;
}

#notes .note-item {
    border-radius: 7px;
    max-height: 12em;
    opacity: 1;
    will-change: opacity, transform;
    transition: all 0.2s linear;
    /*    -webkit-transition: all 0.2s linear;*/
    backface-visibility: hidden;
    /*    -webkit-backface-visibility: hidden;*/
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    width: 600px;
    max-width: 800px;
    /*    -webkit-touch-callout: none;*/
    user-select: none;
    /*    -webkit-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    z-index: 2;
    pointer-events: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    /*    -webkit-align-content: flex-start;*/
    -ms-flex-line-pack: start;
    align-content: flex-start;
    /*    -webkit-box-align: start;*/
    -ms-flex-align: start;
    /*    -webkit-align-items: flex-start;*/
    -moz-align-items: flex-start;
    align-items: flex-start;
    /*    -webkit-align-content: flex-start;*/
    -ms-flex-line-pack: start;
    align-content: flex-start;
    font: inherit;
    line-height: 1.25em;
    color: var(--white);
    margin: 0 auto 1em auto;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    /*    -webkit-transform: translateZ(0);*/
    padding: 0.75em 1em;
}

@media all and (max-width: 40em) {
    #notes .note-item {
        width: 105vw;
        max-width: none;
    }
}

#notes .note-item[data-show=false] {
    pointer-events: none;
    opacity: 0 !important;
    max-height: 0 !important;
    margin-bottom: 0 !important;
}

#notes .note-item[data-type=info] {
    background-color: var(--brand-color);
    color: #fff;
}

#notes .note-item[data-type=warn] {
    background-color: var(--mustard);
    color: #fff;
    animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    /* -webkit-animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;*/
}

#notes .note-item[data-type=error] {
    background-color: var(--carmine-dark);
    color: #fff;
    animation: shake 0.54s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    /*-webkit-animation: shake 0.54s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;*/
}

#notes .note-item[data-type=success] {
    background-color: var(--gree);
}

#notes .note-item .note-item-text {
    flex: auto;
    /* -webkit-flex: auto;*/
    -moz-flex: auto;
    -ms-flex: auto;
    padding-right: 0.5em;
    max-width: calc(100% - 1.25em);
    max-width: -webkit-calc(100% - 1.25em);
}

#notes .note-item .note-item-btn {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;
    background: url(https://img.icons8.com/metro/26/000000/delete-sign.png) no-repeat 0 0/contain;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    border: solid 0px;
    outline: none;
}

#notes .note-item .note-item-btn:hover {
    opacity: 0.6;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
        /*-webkit-transform: translate3d(-1px, 0, 0);*/
        -ms-transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0 0);
        /*-webkit-transform: translate3d(2px, 0, 0);*/
        -ms-transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
        /*-webkit-transform: translate3d(-4px, 0, 0);*/
        -ms-transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
        /*-webkit-transform: translate3d(4px, 0, 0);*/
        -ms-transform: translate3d(4px, 0, 0);
    }
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0) t;
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
    }
}


/*галерея*/

.link-launcher {
    position: absolute;
    top: 235px;
    width: 680px;
    text-align: center;
    right: 0px;
}

.welcome-text {
    transition: 0.3s;
    position: absolute;
    top: 150px;
    width: 680px;
    text-align: center;
}

.obsolute-online {
    position: absolute;
    top: 215px;
    width: 680px;
    z-index: 60;
    text-align: center;
}

.start-button {
    width: 300px;
    height: 60px;
    right: 190px;
    top: 160px;
}

.start-btn {
    font-size: 29px;
    margin-top: 15PX;
}


/*сервера*/

.server-list:hover {
    overflow-y: scroll;
}

.server-list {
    color: var(--white);
    font-size: 14px;
    position: absolute;
    width: 680px;
    height: 870px;
    display: block;
    margin-top: 10px;
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.servers-flex {
    line-height: 180%;
    float: left;
    display: block;
    width: 658px;
    height: 74px;
    backdrop-filter: blur(2px);
    background: var(--bg-general);
    border-radius: 7px;
    margin: 0px 0px 10px 10px;
    transition: 0.2s;
    border: solid 1px var(--bg-general-border);
    cursor: pointer;
}

.servers-flex:hover {
    background: var(--brand-color);
    border: solid 1px var(--brand-color);
    transition: 0.2s;
}

.servers-flex:active {
    background: var(--brand-color-dark);
    transition: 0.2s;
}

.server-name {
    display: block;
    margin-left: 120px;
    margin-top: -46px;
    position: absolute;
    text-align: left;
    width: 240px;
    height: 22px;
}

.server-online {
    margin-left: 395px;
    margin-top: -46px;
    display: block;
    position: absolute;
    text-align: right;
    width: 240px;
    height: 22px;
}

.server-icon {
    margin-top: 13px;
    margin-left: 17px;
    width: 47px;
    height: 47px;
}


/*виджет вк*/

.block-widget-vk {
    border-radius: 15px;
    background: var(--cyan-black);
    width: 326px;
    height: 430px;
}

.widget-head-vk {
    transition: 0.2s;
    z-index: 10;
    border-radius: 15px;
    background-color: var(--brand-color);
    background-size: 326px 80px;
    position: absolute;
    width: 326px;
    height: 80px;
}

.block-widget-vk:hover .widget-head-vk {
    background-position: -50px -12px;
    background-size: 426px 105px;
}

.widget-head-discord {
    transition: 0.2s;
    z-index: 10;
    border-radius: 15px;
    background-color: var(--brand-color);
    background-size: 326px 80px;
    position: absolute;
    width: 326px;
    height: 80px;
}

.block-widget-discord:hover .widget-head-discord {
    background-position: -50px -12px;
    background-size: 426px 105px;
}

.logo-vk {
    left: 115px;
    top: -5px;
    position: absolute;
}

.vk-button {
    width: 307px;
    bottom: 10px;
    left: 10px;
}


/*виджет дискорда*/

.block-widget-discord {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 354px;
    width: 326px;
    height: 430px;
    background: var(--cyan-black);
}

.head-discord {
    background-image: url("/content/images/img/disbg.png");
    position: absolute;
    z-index: 10;
    top: 3px;
    left: 3px;
    border-radius: 5px;
    background-color: var(--brand-color);
    ;
    width: 320px;
    height: 80px;
}

.logo-discord {
    position: absolute;
    top: 3px;
    left: 65px;
}

.discord-button {
    width: 306px;
    bottom: 10px;
    left: 10px;
}


/*вообще хз*/

.nonelr {
    float: none;
}


/*игратьц*/

.play-icon-animation {
    transition: 0.4s;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1000px;
    top: -50px;
}

.play-block {
    width: 680px;
    height: 430px;
}

.play-text-box {
    transition: 0.4s;
    text-align: center;
    box-sizing: content-box;
    position: absolute;
    width: 680px;
    margin-top: 165px;
}

.play-btn {
    max-height: 70px;
    position: relative;
    height: 41px;
    min-width: 240px;
    max-width: 320px;
    top: 16px;
}


/* сервера */

.server-list-btn {
    position: absolute;
    bottom: 98px;
    height: 41px;
    margin-left: 255px;
}

.server-logo {
    width: 130px;
    height: 130px;
    position: absolute;
    margin-left: 275px;
    bottom: 168px;
}

.server-name-list {
    color: var(--white);
    position: absolute;
    bottom: 13px;
    margin-left: 14px;
}

.server-state {
    color: var(--white);
    position: absolute;
    bottom: 35px;
    margin-left: 14px;
}

.server-mods-list:hover {
    overflow-y: scroll;
}

.server-mods-list {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 410px;
    width: 660px;
    padding-bottom: 6px;
    border-radius: 9px;
    margin-left: 10px;
    margin-top: 10px;
    backdrop-filter: blur(1px);
    background: var(--bg-servers);
    padding: 0px 9px 0px 9px;
    box-sizing: border-box;
    border: solid 1px var(--bg-servers-border);
}

.mini-scroll:hover.server-mods-list {
    padding: 0px 2.2px 0px 9px;
}

.line-divs {
    transition: 0.1s;
    padding-bottom: 3px;
    color: var(--white);
    width: 100%;
    padding: 8px 7px 8px 7px;
    box-sizing: border-box;
    height: auto;
    border-bottom: solid 2px var( --line-servers);
}

.line-mg-divs {
    cursor: pointer;
    transition: 0.1s;
    padding-bottom: 3px;
    color: var(--white);
    width: 100%;
    padding: 8px 7px 8px 7px;
    box-sizing: border-box;
    height: auto;
    border-bottom: solid 2px var( --line-servers);
    margin: 5px 0px 5px 0px;
    border-radius: 0px;
}

.line-mg-divs:hover {
    transition: 0.2s;
    padding-bottom: 3px;
    color: var(--white);
    width: 100%;
    padding: 8px 7px 8px 7px;
    box-sizing: border-box;
    height: auto;
    border-bottom: solid 2px var(--vanish);
    background: var( --line-servers);
    margin: 5px 0px 5px 0px;
    border-radius: 7px;
}

.linkcursor {
    cursor: pointer;
}

.linkcursor:hover {
    padding-bottom: 3px;
}

.server-info {
    position: absolute;
    overflow-y: hidden;
    width: 650px;
    height: 400px;
    top: 0px;
    margin-left: 15px;
    margin-top: 15px;
}

@-moz-document url-prefix() {
    .servinfo {
        margin-top: 0px;
    }
}

.online-list {
    float: right;
    margin-right: 0px;
}

.server-info-bottom {
    position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
}


/* авторизация */

.conteks {
    text-decoration: none;
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.vhod {
    border-radius: 8px;
    color: var(--white);
    width: 640px;
    height: 350px;
    background: var(--black);
}

.login-button {
    left: 255px;
    bottom: 15px;
    height: 41px;
}

.password {
    top: 140px;
    left: 115px;
}

.login {
    top: 83px;
    left: 115px;
}

.centered-text {
    text-align: center;
}

.logined {
    margin-top: 60px;
    margin-left: 240px;
}

.linklogin {
    margin-top: 3px;
    margin-left: 248px;
}

.forgot-password-block {
    margin-top: 184px;
}

.cntr {
    color: var(--white);
    position: absolute;
    top: 230px;
    left: 213px;
    width: 100%;
}


/* регистрация */

.array-links {
    width: 640px;
    position: absolute;
    top: 375px;
    text-align: center;
}

.array-links a {
    line-height: 167%;
}

.gender-register {
    width: 450px;
}

.gender {
    width: 450px;
}

.register-button {
    left: 221px;
    bottom: 15px;
    height: 41px;
    width: 238px;
}

.register-block {
    padding: 20px;
    height: 530px;
    background-size: 680px;
}

.rules-read-register {
    position: absolute;
    color: var(--white);
    left: calc(50% - 300px);
    top: 455px;
    width: 600px;
    -webkit-user-select: none;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
}

.regs {
    border-radius: 8px;
    color: var(--white);
    width: 640px;
    height: 560px;
    background: #000;
}

.reglogin {
    margin-top: 40px;
    margin-left: 105px;
}


/*логин*/

.block-re-name .inputy-block {
    margin-top: 18px;
    left: 117px;
    position: relative;
    top: 83px;
}

.block-re-name .flash-error {
    opacity: 0%;
    transition: 0.4s;
    width: 36px;
    height: 36px;
    position: relative;
    bottom: -94px;
    display: inline-block;
    left: 125px;
    z-index: 99;
}

.block-re-name .flash-error-visible {
    opacity: 100%;
}


/*почта*/

.block-re-mail .inputy-block {
    margin-top: 18px;
    left: 117px;
    position: relative;
    top: 27px;
}

.block-re-mail .flash-error {
    opacity: 0%;
    transition: 0.4s;
    width: 36px;
    height: 36px;
    position: relative;
    bottom: -38px;
    display: inline-block;
    left: 125px;
    z-index: 99;
}

.block-re-mail .flash-error-visible {
    opacity: 100%;
}


/*пороль*/

.block-re-password .inputy-block {
    margin-top: 18px;
    left: 117px;
    position: relative;
    top: 85px;
}

.block-re-password .flash-error {
    opacity: 0%;
    transition: 0.4s;
    width: 36px;
    height: 36px;
    position: relative;
    bottom: -96px;
    display: inline-block;
    left: 125px;
    z-index: 99;
}

.block-re-password .flash-error-visible {
    opacity: 100%;
}


/*рег*/

.reglog-link {
    margin: 0 6px 0 6px;
}


/*голосование*/

.blockgolos {
    width: 680px;
    height: 430px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.golosovatedinarus {
    width: 338px;
    min-width: 338px;
    max-width: 338px;
    height: 142px;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
}

.butongolos {
    margin-top: 30px;
    position: absolute;
}

.texgolos {
    margin-top: -80PX;
    z-index: 300;
}

.texgolos1 {
    margin-top: -10PX;
    position: absolute;
    z-index: 300;
}

.topimg {
    position: absolute;
    width: 680px;
    height: 430px;
    border-radius: 7px;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.topimg1 {
    width: 680px;
    height: 430px;
    border-radius: 7px;
    margin-left: 0px;
    pointer-events: none;
}

.infogo {
    /*Центрирование по горизонтали*/
    margin-left: 208px;
    margin-top: 50px;
    position: absolute;
}


/*ЛК*/

.skin-block {
    position: absolute;
    background: var(--bg-settings);
    border: solid 1px var(--bg-settings-border);
    width: 650px;
    height: 801px;
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 10;
    cursor: move;
}

.load-avatar {
    width: 234px;
    position: absolute;
    right: 15px;
    margin-top: 265px;
    z-index: 10;
}

.load-skin {
    width: 317px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 10;
}

.load-cloak {
    width: 317px;
    z-index: 10;
}

.balance {
    position: absolute;
}

.coin {
    width: auto;
    position: relative;
    margin-left: 15px;
    top: 15px;
    border-radius: 7px;
    padding: 6px 15px 11px 15px;
    text-align: center;
    float: left;
    color: var(--white);
}

.text-404 {
    margin-top: -350px;
    position: absolute;
    color: var(--white);
    z-index: 20;
}

.img-404 {
    margin-top: 14%;
    border-radius: 7px;
}

.error-block {
    width: 250px;
    height: 250px;
    top: 110px;
    left: 215px;
    position: relative;
}

.error-roket {
    animation: roket ease-out infinite;
    animation-duration: 3s;
    width: 250px;
    height: 250px;
}

@keyframes roket {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(8deg);
    }
    20% {
        transform: rotateZ(-13deg);
    }
    30% {
        transform: rotateZ(3deg);
    }
    40% {
        transform: rotateZ(-2deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.block-error {
    background-size: 680px 430px;
    background-position: 0px 0px;
    transition: 0.2s;
    border-radius: 15px;
    background-color: var(--cyan-black);
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    width: 680px;
    height: 430px;
}

.block-error:hover {
    background-size: 780px 493px;
    background-position: -50px -31px;
}

.coin-icon {
    pointer-events: none;
    width: 19px;
    left: 4px;
    top: 3px;
    position: relative;
}

.text-icon {
    width: 19px;
    left: 4px;
    top: 3px;
    position: relative;
}

.donate-mein-content {
    position: absolute;
    float: left;
    display: block;
    width: 660px;
    height: auto;
    bottom: 0px;
    background: var(--vanish);
    border-radius: 7px;
    margin: 0px 0px 10px 10px;
    transition: 0.2s;
    border: solid 1px var(--vanish);
    padding: 10px;
    box-sizing: border-box;
    color: var(--white);
}

.donation-option-block {
    width: 100%;
    height: auto;
    top: 65px;
    position: relative;
}

.option-block {
    width: 100%;
    height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.option-btn {
    width: 230px;
}

.option-long-btn {
    width: 650px;
}

.option-text {
    padding-top: 12px;
    text-align: center;
    width: 405px;
    height: 41px;
    margin-left: 245px;
    border-radius: 9px;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background: var(--bg-settings);
    border: solid 1px var(--bg-settings-border);
    color: var(--white);
}

.option-long-text {
    padding-top: 12px;
    text-align: center;
    width: 650px;
    height: 41px;
    margin-left: 0px;
    border-radius: 9px;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background: var(--bg-settings);
    border: solid 1px var(--bg-settings-border);
    color: var(--white);
}


/*информация js*/

.donat-container {
    width: 680px;
    height: 250px;
}

.donat-block {
    width: 338px;
    min-width: 338px;
    max-width: 338px;
    height: 52px;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
}

.donat-btn {
    position: absolute;
}

.donat-osnov {
    width: 680px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
}

#donframe {
    position: fixed;
    z-index: 99;
}

.donframe1 {
    border-radius: 0% 0% 0% 0%;
    background: var(--soft-gray);
    width: 100%;
    height: 100%;
    transform: 1s;
    transition: 0.2s;
}

.donframe2 {
    visibility: hidden;
    border-radius: 0% 0% 1000% 1000%;
    background: var(--soft-gray);
    width: 100%;
    height: 0%;
    transform: 1s;
    transition: 0.2s;
}

.iframe-donat {
    width: 100%;
    height: 100%;
    border: solid 0px var(--black);
}

.delete_me {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    position: fixed;
    z-index: 100;
    transition: 0.2s;
}

.delete_me:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.donat-name {
    color: var(--white);
    width: 1024px;
    height: 500px;
    background: var(--black);
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 10%)
}

.don-id {
    margin-top: 10px;
    color: var(--white);
    min-width: 220px;
    max-width: 320px;
    height: 200px;
    background: #040;
    float: left;
    display: flex;
    margin-left: 15px;
}

.stop-scrolling {
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
}

.iframe1 {
    transition: 0.7s;
    opacity: 0;
}

.iframe2 {
    transition: 0.7s;
    opacity: 1;
}

.content-block-opis {
    background: var(--soft-gray);
    width: 90%;
    max-width: 1600px;
    height: 98%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-block-grid {
    width: auto;
    height: auto;
    display: flex;
}

.text-article .linktext {
    color: var(--brand-color);
}

.text-article .linktext:hover {
    color: var(--white);
}

.column-info a {
    line-height: 170%;
}

.column-info {
    width: 370px;
    max-width: 420px;
    min-width: 370px;
    margin-left: -10px;
}

.relevant-info {
    margin: auto;
    border: solid 6px var(--cyan-black);
    border-radius: 15px;
    height: auto;
    width: 100%;
    background: var(--cyan-black);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    margin-left: -2;
    box-sizing: border-box;
}

.project-servers {
    margin: auto;
    border: solid 6px var(--cyan-black);
    border-radius: 15px;
    height: auto;
    width: 100%;
    background: var(--cyan-black);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
    margin-left: -2;
    box-sizing: border-box;
}

.body-op {
    background: var(--soft-gray);
}

.heading-article {
    text-align: center;
    text-align: center;
    border-bottom: solid 10px var(--cyan-black);
    border-top: solid 7px var(--cyan-black);
}

.text-article {
    width: 100%;
    height: max-content;
    margin-top: 10px;
    margin-right: 32px;
    margin-bottom: 20px;
    display: block;
    background: var(--soft-gray);
    border-radius: 15px;
    line-height: 190%;
}

.link-bnt {
    transition: 0.2s;
    background: var(--gray);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 10px 5px 0px 0px;
    display: inline-block;
}

.link-bnt:hover {
    background: var(--brand-color);
    ;
}

.link-bnt:active {
    background: var(--brand-color-dark);
    ;
}

.text-article .texta {
    line-height: 100%;
}

.img-article-text {
    color: var(--white);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2.5px;
    height: 30px;
    width: 200px;
}

.img-article-rider {
    color: var(--white);
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
}

.img-article-heading-dev {
    text-align: center;
    padding-top: 33px;
    margin: 0px auto;
    height: 159px;
    width: max-content;
    box-sizing: border-box;
}

.img-article-heading {
    text-align: center;
    padding-top: 46px;
    margin: 0px auto;
    height: 159px;
    width: max-content;
    box-sizing: border-box;
}

.img-article {
    margin-bottom: 13px;
    width: 100%;
    height: 160px;
    border-radius: 15px;
    display: flex;
    box-sizing: border-box;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.img-article-b {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: flex;
}


/*рек*/

.blink-article {
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
    right: -3px;
    top: 8px;
}

.link-article {
    transition: 0.2s;
    width: 100%;
    background: var(--vanish);
    border-radius: 9px;
    padding: 0px 15px 2px 15px;
    box-sizing: border-box;
}

.link-article:hover {
    color: var(--white);
    background: var(--color-article-hover);
}

.link-article:hover:active {
    background: var(--color-article-active);
}

.link-article text {
    transition: 0.2s;
    border-bottom: solid 1px var(--vanish);
}

.link-article:hover .blink-article {
    transition: 0.2s;
    right: -5px;
}


/*снег*/

.snow1 {
    animation-name: snows;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0.7;
    width: 5px;
    height: auto;
}

@keyframes snows {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.pre {
    position: absolute;
}


/*отключение выделения*/

.disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

img {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}


/*
text {
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;

    -webkit-user-select: none;

    -webkit-touch-callout: none;

}
*/


/* ЛС Оверлей*/

.re-bg {
    width: auto;
    height: auto;
    z-index: 1000;
}

#modal-frame {
    position: fixed;
    z-index: 99;
}

.re-frame1 {
    opacity: 1;
    border-radius: 0% 0% 0% 0%;
    background: var(--blackout);
    width: 100%;
    height: 100%;
    transform: 1s;
    transition: 0.2s;
}

.re-frame2 {
    top: -1000px;
    opacity: 0;
    visibility: hidden;
    border-radius: 0% 0% 1000% 1000%;
    background: var(--blackout);
    width: 100%;
    height: 0%;
    transform: 1s;
    transition: 0.2s;
}

.settings-profile {
    top: -3px;
    width: 680px;
    border: solid 2px var(--vanish);
    position: relative;
}


/*
Настройки
*/

.settings-block-fix {
    float: left;
}

.settings-block {
    width: 650px;
    height: 74px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 9px;
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    background: var(--bg-settings);
    border: solid 1px var(--bg-settings-border);
}

.settings-bnt {
    margin: 15px;
    width: 230px;
}

.settings-block-text {
    width: 350px;
    height: 16px;
    text-align: center;
    color: var(--white);
    margin: 28px 0px 28px 272px;
}

.settings-block-bottom {
    width: 200px;
    bottom: 15px;
    display: block;
}

.block-re-name {
    width: 680px;
    height: 327px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
}

.full-block-text {
    width: 100%;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    margin-top: 10px;
}

.re-head {
    line-height: 240%;
}

.bnt-exit {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 1100;
    transition: 0.2s;
    cursor: pointer;
}

.bnt-exit:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.block-re-mail {
    width: 680px;
    height: 266px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
}

.block-re-password {
    width: 680px;
    height: 380px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
}

.re-enter {
    bottom: 30px;
    width: 290px;
    left: 117px;
}

.re-enter-next {
    bottom: 30px;
    width: 140px;
    left: 428px;
}

.re-enter-next:hover {
    transition: 0.2s;
    background-color: var(--carmine-dark);
}

.block-login-2fa {
    width: 680px;
    height: 212px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 106px);
}

.block-login-2fa .inputy-block {
    margin-top: 18px;
    left: 117px;
    position: relative;
    top: 27px;
}

.block-don-hd {
    width: 680px;
    height: 300px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
}

.subscription {
    position: absolute;
    left: 125px;
    top: 140px;
}

.sub-drop {
    width: 430px;
}

.sub-auto {
    position: absolute;
    top: 200px;
    left: 155px;
    color: #ddd;
}

.sub-text {
    width: 100%;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    margin-top: 240px;
}

.vanish {
    visibility: hidden;
    width: 100%;
    height: 0px;
    opacity: 0%;
}

.block-re-color {
    width: 680px;
    height: 330px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
}

.color-picker {
    background-color: var(--cyan-black);
    width: 144px;
    height: 144px;
    border-radius: 9px;
    border: solid -0px var(--white);
    padding: 0px;
    position: relative;
    top: -8px;
    left: -8px;
    cursor: pointer;
}

.color-picker-box {
    border-radius: 15px;
    overflow: hidden;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.color-picker-block {
    position: relative;
    top: 71px;
    left: 118px;
    cursor: pointer;
    width: 130px;
    height: 130px;
}

.color-picker-text {
    position: absolute;
    color: var(--white);
    background: var(--soft-gray);
    width: 80px;
    text-align: center;
    left: 17px;
    height: 40px;
    padding: 8px 8px 2px 8px;
    border-radius: 9px;
    z-index: 2;
    top: 42px;
    display: inline-block;
    pointer-events: none;
}

.color-picker-example {
    background-image: url(/content/images/img/mine-bg.png);
    width: 292px;
    height: 129.5px;
    font-size: 30px;
    position: absolute;
    top: 106px;
    font-weight: 800;
    left: 276px;
    border-radius: 15px;
    background-size: cover;
}

.color-picker-example a {
    position: absolute;
    top: 8px;
    width: 290px;
    text-align: center;
}

.block-2FA {
    width: 680px;
    height: 560px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 275px);
}

.code-2fa {
    top: 430px;
    left: 117px;
    text-align: center;
}

.qr-code {
    filter: invert(1);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 180px;
    left: calc(100% - 340px - 100px);
}

.block-session {
    width: 680px;
    height: 660px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 330px);
}

.list-session {
    width: 680px;
    height: 550px;
    padding: 0px 20px 0px 20px;
    overflow: overlay;
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
}

.line-session {
    width: 640px;
    height: 65px;
    display: flex;
    background-color: var(--color-article-hover);
    margin-bottom: 10px;
    border-radius: 9px;
}

.content-lining {
    text-align: center;
    color: var(--white);
    padding: 21px 0px 21px 0px;
    box-sizing: border-box;
}

.content-session-way {
    width: 30%;
    height: 65px;
    border-right: solid 1px var(--color-article-active);
}

.content-session-ip {
    width: 45%;
    height: 65px;
    border-right: solid 1px var(--color-article-active);
}

.content-session-date {
    width: 25%;
    height: 65px;
}

.block-payment-system {
    width: 680px;
    background: var(--cyan-black);
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 340px);
    top: calc(50% - 410px);
    padding-bottom: 100px;
}

.Box-payment-system {
    width: 340px;
    height: 40px;
    display: block;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
}

.note-payment {
    line-height: 30px;
    font-size: 14px;
    margin-left: 17px;
}

.checkbox-payment-system {
    padding-top: 24px;
    padding-left: 90px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.checkbox-payment-system .option-input {
    top: 3px;
}

.re-frame2 .block-operators .content-operators {
    display: inline;
    height: 0px;
}

.re-frame2 .block-operators {
    height: 0px;
}

.block-operators {
    width: 680px;
    height: 250px;
    overflow-x: hidden;
    display: block;
    padding: 0px 40px 0px 40px;
    box-sizing: border-box;
    float: left;
    margin-top: 45px;
    visibility: visible;
}

.block-operators-vanish {
    height: 0px;
    visibility: hidden;
    display: none;
}

.content-operators {
    padding: 5px 5px 5px 25px;
    width: 33.33%;
    min-width: 33.33%;
    height: 50px;
    box-sizing: border-box;
    float: left;
}

.img-operators {
    background: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.text-operators {
    position: relative;
    top: -13px;
    left: 4px;
}

.block-cps {
    cursor: pointer;
}

.block-cps a {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.full-block-text {}


/* реклама */

.adwords-block {
    width: 100%;
    height: 280px;
}

.adwords-container {
    position: absolute;
    width: 728px;
    height: 280px;
    background: var(--cyan-black);
    left: calc(50% - 364px);
    border-radius: 7px;
}


/*подсказки*/

.cloak-tooltip {
    width: 317px;
    position: absolute;
    right: 15px;
    z-index: 10;
    bottom: 56px;
}

.tooltip {
    transition: 0.2s;
}

.tooltip element {
    line-height: 100%;
    pointer-events: none;
    transition: 0.4s;
    padding: 9px 10px 0px 10px;
    font-size: 18px;
    display: block;
    opacity: 0%;
    top: -28px;
    visibility: hidden;
    background: var(--brand-color);
    ;
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: #fff;
    width: max-content;
    height: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: var( --shadows-vanish);
    z-index: 99;
}

.tooltip:hover element {
    z-index: 99;
    pointer-events: none;
    transition: 0.2s;
    display: block;
    visibility: visible;
    top: -35px;
    opacity: 99%;
    box-shadow: var(--shadows-lite);
}

.tooltip element::after {
    z-index: 100;
    opacity: 100%;
    pointer-events: none;
    transition: 0.4s;
    content: '';
    position: absolute;
    top: 50px;
    border: 15px solid transparent;
    border-top: 12px solid var(--brand-color);
    ;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.tooltip-left {
    transition: 0.2s;
}

.tooltip-left element {
    pointer-events: none;
    transition: 0.4s;
    padding: 10px 10px 3px 10px;
    font-size: 18px;
    display: block;
    opacity: 0%;
    top: -32px;
    visibility: hidden;
    background: var(--brand-color);
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: #fff;
    width: max-content;
    height: 30px;
    right: 180%;
    margin-right: -50%;
    transform: translate(0%, 65%);
    border-radius: 7px;
    box-shadow: var( --shadows-vanish);
    z-index: 99;
}

.tooltip-left:hover element {
    z-index: 99;
    pointer-events: none;
    transition: 0.2s;
    display: block;
    visibility: visible;
    right: 205%;
    opacity: 99%;
    box-shadow: var(--shadows-lite);
}

.tooltip-left element::after {
    z-index: 100;
    pointer-events: none;
    transition: 0.4s;
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top: 12px solid var(--brand-color);
    left: 99%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    top: 11px;
}


/*ошибка tooltip*/

.tooltip-red {
    transition: 0.2s;
}

.tooltip-red element {
    line-height: 100%;
    pointer-events: none;
    transition: 0.4s;
    padding: 9px 10px 0px 10px;
    font-size: 18px;
    display: block;
    opacity: 100%;
    top: -28px;
    visibility: visible;
    background: var(--carmine-dark);
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: var(--white);
    width: max-content;
    height: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: var( --shadows-vanish);
    z-index: 99;
}

.tooltip-red:hover element {
    z-index: 99;
    pointer-events: none;
    transition: 0.2s;
    display: block;
    visibility: visible;
    top: -35px;
    opacity: 99%;
    box-shadow: var( --shadows-vanish);
}

.tooltip-red element::after {
    z-index: 100;
    opacity: 100%;
    pointer-events: none;
    transition: 0.4s;
    content: '';
    position: absolute;
    top: 50px;
    border: 15px solid transparent;
    border-top: 12px solid var(--carmine-dark);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.tooltip-text-cntr {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.tooltip-red-left {
    transition: 0.2s;
}

.tooltip-red-left element {
    transition: 0.4s;
    padding: 7px 10px 7px 10px;
    font-size: 14px;
    display: table;
    opacity: 100%;
    top: -42px;
    visibility: visible;
    background: var(--carmine-dark);
    position: absolute;
    z-index: 1000;
    text-align: center;
    color: #fff;
    width: 420px;
    height: 39px;
    left: 9px;
    margin-right: -50%;
    transform: translate(0%, 65%);
    border-radius: 7px;
    box-shadow: var( --shadows-vanish);
    z-index: 99;
    line-height: 10me;
}

.tooltip-red-left element::after {
    z-index: 100;
    pointer-events: none;
    transition: 0.4s;
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-top: 12px solid var(--carmine-dark);
    top: 14px;
    right: 49%;
    margin-right: 50%;
    transform: rotate(90deg);
}


/*восстановление пароля*/

.vostanov {
    border-radius: 8px;
    color: var(--white);
    width: 640px;
    height: 230px;
    background: var(--black);
}

.recovery-mail-ent {
    margin-top: 18px;
    left: 95px;
    position: relative;
    top: 23px;
}

.recap {
    position: absolute;
    left: 180px;
    top: 145px;
}

.recovery-pass-ent {
    top: 83px;
    left: 125px;
}

.recovery-pass2-ent {
    top: 145px;
    left: 125px;
}

.don-text {
    width: 680px;
    height: 200px;
    position: absolute;
    z-index: 40;
    top: 100px;
}

.donate-info {
    width: 230px;
    position: relative;
    top: 120px;
    left: 230px;
}


/*адаптив*/

.ux-pc {
    opacity: unset;
    visibility: visible;
    position: unset;
    top: unset;
}

.ux-m {
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    width: 0%;
    min-width: 0%;
    max-width: 0%;
    top: 100%;
}

.dis-off-scroll {
    top: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 100;
}

.fix-botton {
    margin-bottom: 20px;
}


/* куки)) */

.cookie {
    position: fixed;
    width: 100%;
    background: var(--cookie-panel);
    height: 70px;
    bottom: 0px;
    z-index: 100;
}

.cookie-box {
    display: block;
    max-width: 80%;
    min-width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cookie-text {
    color: var(--white);
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    line-height: 24px;
}

.cookie-box-text {
    display: table;
    float: left;
    width: calc(100% - 200px);
    height: 70px;
}

.cookie-btn {
    position: relative;
    float: right;
}

.cookie-box-btn {
    float: left;
    width: 200px;
    height: 70px;
    padding: 15px;
    box-sizing: border-box;
}


/* style.css | https://cristalix.ru/content/css/style.css?1346359576 */

.flash-info {
    transition: 0.4s;
    width: 36px;
    height: 36px;
    position: absolute;
    display: block;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 99;
}

.flash-info:hover img {
    opacity: 0.6;
}

.cashbox {
    position: absolute;
    z-index: 200;
    width: 680px;
    height: 375px;
    left: calc(50% - 340px);
    top: calc(50% - 215px);
    background: var(--soft-gray);
    z-index: 99;
    border-radius: 9px;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.payment {
    transition: 0.2s;
    width: 120px;
    height: 165px;
    background: var(--graphite);
    display: inline-flex;
    margin-left: 13px;
    align-items: center;
    border-radius: 6px;
    float: left;
    margin-top: 40px;
    flex-direction: column;
    color: var(--white);
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.payment:hover {
    background: var(--brand-color);
    ;
}

.icon-payment {
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

.payment-exit {
    position: absolute;
    bottom: 15px;
    right: 255px;
}

.admin-block {
    padding: 25px;
    width: 60%;
    height: 220px;
    margin: 0 auto;
}

.dev-block {
    padding: 25px;
    width: 60%;
    height: 220px;
}

.admin-bnt {
    transition: 0.2s;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    float: left;
    position: relative;
    background: var(--cyan-black);
    width: 180px;
    height: 180px;
    border-radius: 10px;
    z-index: 100;
    -webkit-box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    box-shadow: var(--shadows);
}

.admin-bnt:hover {
    background: var(--brand-color);
}

.admin-img {
    top: 35px;
    position: absolute;
    width: 80px;
    height: 80px;
}

.admin-name {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 15px;
}

.admin-heading {
    position: relative;
    display: inherit;
    left: 10px;
    top: -5px;
}

.account-editor-block {
    position: absolute;
    width: 700px;
    height: auto;
    left: calc(50% - 350px);
    background: var(--vanish);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.account-container {
    display: flex;
    color: var(--white);
    width: 670px;
    height: 70px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-bottom: solid 1px var(--placeholder);
}

.pole-account {
    width: 265px;
    left: 0px;
    top: 6px;
    height: 18px;
}

.pole-container {
    width: 360px;
    height: 50px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.pole-text {
    width: 275px;
    height: 20px;
    position: relative;
    left: 10px;
    top: 14px;
    text-align: center;
    margin-top: 10px;
}

.account-btn {
    transition: 0.2s;
    text-align: center;
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 4px;
    position: relative;
    min-width: 27px;
    height: 26px;
    background: var(--gray-dark);
    top: 16px;
    display: block;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
}

.account-btn:hover {
    background: var(--brand-color);
}

.reg-padding {
    margin-top: 18px;
    left: 95px;
    position: relative;
    top: 23px;
}

.pole-container .account-btn {
    width: 27px;
    height: 26px;
    right: 20px;
    top: 6px;
    position: absolute;
}

.pole-container .gender-register {
    width: 285px;
    margin-top: 4px;
}

.pole-container .gender {
    width: 285px;
}

.access-block {
    padding: 20px;
    min-height: 305px;
    background-position-y: bottom;
    background-size: 680px 430px;
}

.icon-block-access {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background: var(--brand-color);
    display: block;
    position: relative;
    left: 245px;
    margin: 40px 0px 40px 0px;
}

.access-bnt-block {
    bottom: 20px;
    position: absolute;
    width: 680px;
    height: 50px;
    left: 0px;
    display: flex;
    padding-left: 20px;
}

.access-bnt {
    width: 310px;
    bottom: 15px;
    position: relative;
    margin-right: 20px;
    margin-top: 24px;
}

.icon-access {
    width: 100px;
    height: 100px;
    margin: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white);
    transition: background-color 5000s ease-in-out 0s;
    font-family: 'Montserrat', sans-serif;
    caret-color: var(--white);
}

.btn-active .HOVER {
    background: var(--brand-color);
}

.btn-not-active span {
    background: var(--graphite);
}

.btn-not-active .HOVER:hover {
    box-shadow: var( --shadows-vanish);
    transition: 0.5s;
}

.flash-error {
    opacity: 0%;
    transition: 0.4s;
    width: 36px;
    height: 36px;
    position: relative;
    bottom: -35px;
    display: inline-block;
    left: 100px;
    z-index: 99;
}

.flash-error-visible {
    opacity: 100%;
}


/* 
.tooltip-red [value="unlim"] element {
    padding: 7px 10px 7px 10px;
    height: 39px;
    top: -42px;
    width: 420px;
}

.tooltip-red [value="unlim"] element::after {
    top: 15px;
}

*/


/*отключение кнопки*/

button {
    border: solid 0px var(--carmine-dark);
    border-color: var(--carmine-dark);
}

button:disabled span {
    transition: 0.2s;
    background: var(--graphite);
}

button:disabled text {
    color: var(--placeholder);
}

button:disabled:hover text {
    color: var(--placeholder);
}

button:disabled:hover {
    box-shadow: var( --shadows-vanish);
}


/*рамка input*/

.valid-input {
    border: solid 2px var(--green);
}

.invalid-input {
    border: solid 2px var(--carmine-dark);
}

.valid-input:focus {
    border: solid 2px var(--green);
}

.invalid-input:focus {
    border: solid 2px var(--carmine-dark);
}

.valid-input:hover {
    border: solid 2px var(--green);
}

.invalid-input:hover {
    border: solid 2px var(--carmine-dark);
}

.recaptcha {
    width: 360px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: -280px;
    transition: 0.2s;
    z-index: 10;
}

.block-recaptcha {
    width: 350px;
    height: 80px;
    border-radius: 15px;
    background-color: var(--cyan-black);
}

.recaptcha:hover {
    right: 0px;
}

.recaptcha-icon {
    position: relative;
    animation-name: recapcha;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    z-index: 20;
}

@keyframes recapcha {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.recaptcha-text {
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 84px;
}

.skin-icon {
    opacity: 100;
    transition: 0.5s;
    bottom: 10px;
    right: 10px;
    width: 120px;
    display: inline-block;
    height: 120px;
    position: absolute;
    pointer-events: none;
}

.skin-block:hover .skin-icon {
    opacity: 0;
}

.dima-privet {
    width: 260px;
    height: 260px;
    position: absolute;
    top: 90px;
    left: 210px;
}

.grecaptcha-badge {
    visibility: hidden;
}

.bay-fast-padding {
    margin-top: 30px;
    left: 113px;
    position: relative;
    top: 23px;
}

.menu-item-link {
    text-transform: uppercase;
    padding: 22px 0px 22px 0px;
}


/*виджет вк новый*/

#vk_groups {
    position: relative;
    top: 19px;
}

.vk-post {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 26px;
    width: 306px;
    height: max-content;
}

.vk-post-time {
    color: var(--brand-color);
    ;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 1px 0px;
}

.vk-post-author {
    opacity: 100%;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 8px 0px;
}

.vk-post-author:hover {
    opacity: 70%;
}

.vk-post-text {
    color: var(--white);
    font-size: 15px;
    width: 306px;
    height: auto;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
}


/*если не автора то cristalix*/

.vk-post-author {
    opacity: 100%;
    color: var(--white);
    font-size: 15px;
    width: max-content;
}

.vk-post-author:hover {
    opacity: 60%;
}

.vk-post-img {
    width: 306px;
    height: auto;
    border-radius: 4px;
    margin: 0px 0px 4px 0px;
}

.vk-post-more {
    opacity: 60%;
    color: var(--white);
    font-size: 15px;
}

.vk-post-more:hover {
    opacity: 100%;
}


/*виджет дискорд новый*/

.block-widget-discord:hover .discord-widget {
    overflow-y: scroll;
}

.discord-widget {
    width: 318px;
    height: 280px;
    position: relative;
    top: 80px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.discord-widget-block {
    margin-left: 10px;
    margin-top: 10px;
    width: 306px;
    height: max-content;
}

.discord-widget-random-online {
    width: 306px;
    height: 75px;
    padding-left: 7px;
    box-sizing: border-box;
}

.discord-widget-user {
    transition: 0.2s;
    margin: 0px 7px 7px 0px;
    float: left;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: red;
}

.discord-widget-online {
    color: var(--brand-color);
    ;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 9px 0px;
}

.discord-widget-chenal {
    transition: 0.2s;
    width: 306px;
    height: max-content;
    min-height: 20px;
    padding-left: 7px;
    box-sizing: border-box;
    display: grid;
    margin-bottom: 5px;
}

.discord-widget-name-chenal {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 7px;
}

.discord-widget-chenal-users {
    transition: 0.2s;
    display: flex;
}

@media screen and (max-width: 1394px) {
    .main-block-content main {
        transform: scale(0.95);
        position: relative;
        width: 1388px;
        right: 1%;
    }
    .cookie {
        height: 100px;
    }
    .cookie-box {
        width: 95%;
        max-width: none;
        min-width: none;
    }
    .tooltip-red-left element {
        transition: 0.4s;
        padding: 7px 10px 7px 10px;
        font-size: 12px;
        display: table;
        opacity: 100%;
        top: -42px;
        visibility: visible;
        position: absolute;
        z-index: 1000;
        text-align: center;
        width: 310px;
        height: 39px;
        left: 9px;
        margin-right: -50%;
        transform: translate(0%, 65%);
        border-radius: 7px;
        z-index: 99;
        line-height: 13px;
    }
}

@media screen and (max-width: 1359px) {
    .main-block-content main {
        transform: scale(1);
        position: unset;
        width: unset;
        right: unset;
    }
    .play-icon-animation {
        transition: 0.4s;
        left: 240px;
        top: 130px;
    }
    .play-text-box {
        transition: 0.4s;
        margin-top: 70px;
    }
    .welcome-text {
        top: 80px;
        transition: 0.3s;
    }
    .obsolute-online {
        top: 330px;
    }
    .start-button {
        left: 190px;
        top: 160px;
    }
    .left-block {
        float: initial;
    }
    .right-block {
        float: initial;
    }
    .row {
        max-width: 1396px;
        width: min-content;
    }
    .aggregate {
        visibility: hidden;
        position: fixed;
        width: 0px;
        height: 0px;
    }
    .block-horizontal-banner {
        background-size: 1390px 430px;
        transition: 0.2s;
        width: 680px;
        height: 120px;
    }
    .launcher-block-info {
        width: 100%;
        height: 40px;
        text-align: center;
        padding-top: 8px;
        box-sizing: border-box;
        display: block;
        float: left;
        font-size: 18px;
    }
    .block-banner {
        background-size: 1390px 430px;
        transition: 0.2s;
        z-index: 10;
        width: 680px;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-sizing: border-box;
        position: relative;
        -webkit-box-shadow: var(--shadows);
        -moz-box-shadow: var(--shadows);
        box-shadow: var(--shadows);
    }
    .block-horizontal {
        background-size: 1390px 430px;
        background-position: 0px 0px;
        transition: 0.2s;
        z-index: 10;
        width: 680px;
        height: 430px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-sizing: border-box;
        position: relative;
        -webkit-box-shadow: var(--shadows);
        -moz-box-shadow: var(--shadows);
        box-shadow: var(--shadows);
    }
    .block-horizontal:hover {
        background-size: 1390px 430px;
        background-position: 0px 0px;
    }
    .background-banner {
        background-size: 1390px 120px;
        background-position: 900px;
    }
}


/* таблица персонала */

.staff-table-box {
    width: 100%;
    display: inline-block;
}

.staff-table {
    place-items: center;
    display: block;
    float: left;
    width: 25%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}

.staff-block {
    overflow-x: hidden;
    border-radius: 9px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    height: auto;
    max-width: 600px;
    min-width: 350px;
    background-color: var(--graphite);
}

.staff-head-block {
    box-sizing: border-box;
    border-radius: 9px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.157);
}

.staff-color-indicator {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
    position: relative;
    border: solid 0px;
    top: 2px;
}

.staff-skin {
    top: 1px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 6%;
    background-color: rgba(0, 0, 0, 0.157);
    position: relative;
    border: solid 0px;
    top: 2px;
}

.staff-sub {
    border-radius: 9px;
    color: #000;
    transition: .3s;
    padding: 15px 20px 10px 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.staff-sub:hover {
    background: rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 2100px) {
    .staff-table {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 1709px) {
    .staff-table {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .staff-table {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .adwords-container {
        position: absolute;
        width: 336px;
        height: 280px;
        background: var(--cyan-black);
        left: calc(50% - 168px);
    }
    body {
        padding-bottom: 100px;
    }
    .block-vertical:hover {
        background-size: 680px 890px;
        background-position: 0px 0px;
    }
    .block:hover {
        background-size: 680px 430px;
        background-position: 0px 0px;
    }
    .cookie {
        height: 169px;
        bottom: 96px;
    }
    .cookie-box {
        width: 95%;
        max-width: none;
        min-width: none;
    }
    .cookie-box-btn {
        width: 100%;
        float: none;
    }
    .cookie-btn {
        width: 100%;
    }
    .cookie-box-text {
        width: 100%;
        float: none;
    }
    .cookie-text {
        padding: 10px 10px 0px 10px;
    }
    .link-article {
        transition: 0.2s;
        margin: 5px 0px 0px 0px;
        padding: 9px 15px 11px 15px;
    }
    .img-article-heading {
        text-align: center;
        padding-top: 64px;
        margin: 0px auto;
        height: 159px;
        width: max-content;
        box-sizing: border-box;
    }
    .img-article-text {
        color: var(--white);
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 2px;
        height: 30px;
        width: 200px;
    }
    .img-article-rider {
        color: var(--white);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .img-article-box {
        text-align: center;
        padding-top: 45px;
        margin: 0px auto;
        height: 159px;
        width: max-content;
        box-sizing: border-box;
    }
    .content-block-grid {
        display: block;
    }
    .column-info {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    .text-article {
        margin-top: 35px;
        width: 100%;
        height: auto;
        min-height: 200PX;
        margin-right: 32px;
        margin-bottom: 10px;
        display: flow-root;
        box-sizing: border-box;
        background: var(--soft-gray);
        border-radius: 15px;
    }
    .heading-article {
        text-align: center;
        border-bottom: solid 20px var(--cyan-black);
        border-top: solid 20px var(--cyan-black);
    }
    .ux-m {
        opacity: unset;
        visibility: visible;
        position: unset;
        width: unset;
        min-width: unset;
        max-width: unset;
        top: unset;
        display: flow-root;
    }
    .ux-pc {
        opacity: 0%;
        visibility: hidden;
        position: fixed;
        width: 0%;
        min-width: 0%;
        max-width: 0%;
        top: 100%;
    }
    .dis-off-scroll {
        top: 75px;
        width: 326px;
        height: 297px;
        position: absolute;
        z-index: 100;
    }
    .content-block-grid .texta {
        font-size: 27px;
        line-height: 105%;
    }
    .content-block-grid .textb {
        font-size: 23px;
        line-height: 150%;
    }
    .block-horizontal:hover {
        background-size: 1390px 430px;
        background-position: 0px 0px;
    }
    .background-register:hover {
        background-size: 680px 650px;
        background-position: 0px 0px;
    }
    .background-login:hover {
        background-size: 680px 350px;
        background-position: 0px 0px;
    }
    .content-block-opis {
        width: 94%;
    }
}

@media (orientation: landscape) {
    .mobile-nav {
        width: 100%;
        height: 96px;
        border-top: solid 2px var(--gray-line);
        background: var(--soft-gray);
        position: fixed;
        bottom: 0px;
        z-index: 1000000;
        display: flex;
        letter-spacing: 1.1px;
        padding: 0px 5% 0px 5%;
        box-sizing: border-box;
    }
    .btn-nav {
        opacity: 0.4;
        width: 20%;
        height: 56px;
        display: block;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        padding-top: 6px;
    }
    .btn-nav:hover {
        opacity: 1;
    }
    .svg-nav {
        width: 1.5em;
        width: 1.5em;
        position: absolute;
        margin: 0;
    }
    .text-nav {
        font-size: 12px;
        font-weight: bold;
        position: relative;
        margin: 0;
        top: 24px;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }
    .btn-menu {
        opacity: 0.4;
        width: 20%;
        height: 56px;
        display: block;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        padding-top: 6px;
    }
}

#StaffAdmins {
    background: #552525;
    color: #FF4F4F;
}

#StaffAdminsModded {
    margin-top: 10px;
    background: #21218B;
    color: #4162FC;
}

#StaffDevs {
    background: #3B2542;
    color: #BD8ED7;
}

#StaffOwners {
    background: #682828;
    color: #ff0000;
}

#StaffModers {
    background: #4D3623;
    color: #D8894E;
}

#StaffModersModded {
    background: #22355E;
    color: #419DFC;
}

#StaffBuilders {
    background: #4B2541;
    color: #E97CBA;
}

#Staff3dArtists {
    margin-top: 10px;
    background: #23414D;
    color: #7CBBE9;
}

.skin-gender {
    margin: 0px;
    margin-top: 10px;
    position: relative;
    left: calc(50% - (135px / 2));
    width: 135px;
    height: 55px;
}

.skin-gender-btn {
    background: var(--vanish);
    transition: 0.2s;
    opacity: 0.4;
    width: 55px;
    height: 55px;
    float: right;
    cursor: pointer;
}

.skin-gender-box-one {
    z-index: 30;
    margin: 8px;
    width: 42px;
    height: 55px;
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    top: 320px;
}

.skin-gender-box-two {
    z-index: 30;
    margin: 8px;
    width: 42px;
    height: 55px;
    position: relative;
    display: block;
    float: right;
    right: -58px;
    cursor: pointer;
    top: 390px;
}

.skin-block canvas {
    z-index: 29;
    position: absolute;
    border-radius: 9px;
}

.skin-gender-btn:disabled {
    opacity: 1;
    cursor: default;
}

.skin-gender-btn:active {
    opacity: 0.8;
}

.skin-gender-btn:hover {
    opacity: 0.6;
}


/* донат */

.rules-read-donate {
    backdrop-filter: blur(2px);
    color: var(--white);
    position: relative;
    left: calc(50% - 225px);
    top: 118px;
    width: 450px;
    -webkit-user-select: none;
    text-align: left;
    background: var(--bg-donate);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 8px;
    padding: 3px 10px 14px 10px;
    box-sizing: border-box;
}

.rules-read-donate label {
    margin-right: 20px;
}

.rules-read-donate .linktext {
    margin-left: 40px;
}

.donate-block-container {
    width: calc(100% / 3);
    display: block;
    float: left;
    height: 200px;
    margin-top: 80px;
}

.donate-block {
    text-align: center;
    width: 200px;
    height: 230px;
    position: relative;
    left: calc(50% - 100px);
}

.donate-text {
    color: var(--white);
    text-align: center;
    line-height: 120%;
}

.donate-icon {
    margin: 40px;
    margin-bottom: 10px;
}

.donate-payment {
    margin-top: 18px;
    left: 95px;
    position: relative;
    top: 100px;
}

.donate-btn {
    position: absolute;
    width: 450px;
    bottom: 34px;
    left: 115px;
}

.donate-note {
    color: var(--white);
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 0px;
}

.donate-note text {
    line-height: 120%;
}

.donate-list {
    position: absolute;
    overflow-y: hidden;
    margin-top: 10px;
    height: 410px;
    width: 680px;
    box-sizing: border-box;
}

.donate-list:hover {
    overflow-y: scroll;
}

.donate-list-content {
    float: left;
    display: block;
    width: 660px;
    height: auto;
    backdrop-filter: blur(2px);
    background: var(--bg-donate);
    border-radius: 7px;
    margin: 0px 0px 10px 10px;
    transition: 0.2s;
    border: solid 1px var(--bg-donate-border);
    padding: 8px 10px 8px 10px;
    box-sizing: border-box;
    color: var(--white);
}

.mini-scroll::-moz-scrollbar-thumb {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--mini-scroll) !important;
}

.mini-scroll::-moz-scrollbar-thumb:hover {
    transition: 0.25s;
    background: var(--white) !important;
}

.mini-scroll::-webkit-scrollbar-thumb {
    transition: 0.25s;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: var(--mini-scroll) !important;
}

.mini-scroll::-webkit-scrollbar-thumb:hover {
    transition: 0.25s;
    background: var(--white) !important;
}

.mini-scroll::-webkit-scrollbar {
    transition: 0.25s;
    width: 7px !important;
    background: var(--vanish) !important;
}

.mini-scroll {
    scrollbar-color: red;
    scrollbar-width: thin;
}

.donate-status-icon {
    width: 36px;
    display: block;
    height: 36px;
    float: left;
}

.donate-dot-status-icon {
    width: 36px;
    display: block;
    height: 36px;
    float: left;
}

.donate-name-content {
    display: block;
    width: 592px;
    margin-left: 46px;
    height: 36px;
    padding-top: 7px;
    box-sizing: border-box;
}

.donate-not-buy {
    opacity: 0.6;
}

.balance-line-mein {
    display: flex;
    width: 100%;
    height: 36px;
}

.balance-line-box {
    width: 100%;
    height: 8px;
    margin: 14px 10px 14px 10px;
    background-color: var(--substrate);
    border-radius: 8px;
    overflow: hidden;
}

.balance-line {
    background-color: var(--white);
    width: 50%;
    height: 8px;
}

.balance-info-box {
    margin-top: 5px;
    height: 18px;
    width: 100%;
    display: flex;
    padding: 0px 6px 0px 6px;
    box-sizing: border-box;
}

.news-block {
    cursor: pointer;
    width: 660px;
    height: 130px;
    box-sizing: border-box;
    margin: 10px 10px 0px 10px;
    backdrop-filter: blur(2px);
    background: var(--bg-general);
    border-radius: 9px;
    border: solid 1px var(--bg-general-border);
    color: var(--white);
    transition: 0.2s;
}

.news-block:hover {
    background: var(--brand-color);
}

.news-block:hover .news-blink {
    opacity: 1;
    left: 38px;
}

.news-block .news-preview {
    background: var(--brand-color);
    width: 230px;
    height: 130px;
    position: relative;
    left: -1px;
    top: -1px;
    border-radius: 9px 0px 0px 9px;
}

.news-block text {
    color: var(--white);
    width: 340px;
    height: 50px;
    line-height: 100%;
    position: relative;
    left: 35px;
    top: -48px;
    display: inline-block;
    text-align: left;
}

.news-blink {
    transition: 0.2s;
    opacity: 0.6;
    width: 34px;
    height: 34px;
    position: relative;
    left: 35px;
    display: inline;
    top: -49px;
}

.news-block-fix {
    float: left;
}


/* навигация для смартфонов */

.mobile-nav {
    width: 100%;
    height: 96px;
    border-top: solid 2px var(--gray-line);
    background: var(--soft-gray);
    position: fixed;
    bottom: 0px;
    z-index: 1000000;
    display: flex;
    letter-spacing: 1.1px;
    padding: 0px 4% 0px 4%;
    box-sizing: border-box;
}

.btn-nav {
    transition: 0.5s;
    opacity: 0.4;
    width: 20%;
    height: 96px;
    display: block;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding-top: 11px;
    background-image: url(/content/images/nav/matter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1%;
}

.btn-nav:hover {
    transition: 0.2s;
    opacity: 1;
    background-size: 2000%;
}

.svg-nav {
    width: 3em;
    width: 3em;
    position: absolute;
    margin: 0;
}

.text-nav {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin: 0;
    top: 52px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btn-menu {
    transition: 0.5s;
    opacity: 0.4;
    width: 20%;
    height: 96px;
    display: block;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding-top: 11px;
}

.btn-menu:hover {
    opacity: 1;
}

.logo-m {
    height: 40px;
    width: auto;
}

.head-m {
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 60px;
}

.btn-nav-active a {
    opacity: 100%;
    color: var(--brand-color);
}

.btn-nav-active {
    background-image: url(/content/images/nav/matter.svg);
    opacity: 100%;
    color: var(--brand-color);
    background-size: 1%;
}

.btn-nav-active img {
    animation: animicon 1.5s;
    opacity: 100%;
    color: var(--brand-color);
}

.btn-nav-active:hover {
    transition: 0.2s;
    opacity: 1;
    background-size: 1%;
}

@keyframes animicon {
    0% {
        top: 9px;
    }
    25% {
        top: 6px;
    }
    50% {
        top: 4px;
    }
    70% {
        top: 8px;
    }
    79% {
        top: 6px;
    }
    85% {
        top: 8px;
    }
    100% {
        top: 9px;
    }
}

.btn-menu-none {
    opacity: 0%;
    position: absolute;
    visibility: hidden;
    height: 0px;
    transition: none;
    right: -10000px;
}

#mobile-menu {
    background: var(--soft-gray);
    position: fixed;
    z-index: 199;
    bottom: 0px;
    transition: 0.2s;
    width: 100%;
}

.mobile-none {
    border-radius: 100% 100% 0px 0px;
    bottom: 0px;
    width: 0%;
    height: 0%;
    opacity: 0%;
}

.mobile-active {
    border-radius: 0% 0% 0% 0%;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 100%;
}

.menu-list {
    width: 100%;
    max-height: 70%;
    bottom: 8.3%;
    position: absolute;
    overflow-x: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.menu-link-element {
    margin-bottom: 6px;
    transition: 0.2s;
    padding: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box;
    color: var(--white);
    font-size: 25px;
    border-radius: 15px;
    letter-spacing: 1.2px;
    font-weight: 500;
    text-transform: uppercase;
}

.menu-link-element:hover {
    transition: 0.2s;
    background: var(--brand-color);
    ;
}

.menu-link-element:hover .blink-nav {
    right: 0px;
}

.menu-img {
    padding-right: 40px;
    top: 9px;
    width: 37px;
    height: 37px;
    position: relative;
}

.blink-nav {
    transition: 0.2s;
    right: 8px;
    top: 9px;
    float: right;
    width: 37px;
    height: 37px;
    position: relative;
}

.footer-link {
    white-space: nowrap;
    transition: 0.2s;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: var(--light-gray);
}

.footer-link:hover {
    background: var(--brand-color);
}

.footer-array {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
    width: 680px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.footer-link:active {
    background: var(--brand-color-dark);
}


/*страница загрузки лаунчера*/

.launcher-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 130px;
    left: calc(50% - 75px);
}

.launcher-btn {
    bottom: 30px;
    width: 290px;
    left: calc(50% - 145px);
}

.launcher-block-text {
    width: 100%;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    margin-top: 30px;
}

.bnt-theme {
    cursor: pointer;
    transition: 0.2s;
    width: 34px;
    height: 34px;
    float: right;
    margin-top: 2px;
}

.bnt-theme:hover {
    opacity: 0.6;
    transition: 0.15s;
}

.theme-change {
    z-index: 999;
    visibility: hidden;
    position: fixed;
}

.menu-theme-item {
    margin-right: 15px;
}

.theme-mobile {
    margin-bottom: 60px;
}